<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="page-content">
        <div class="mdl-grid portfolio-copy">
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <div class="mdl-cell mdl-cell--12-col">
                    <h4 id="introduction">Consulta Estoque e previsão de vendas</h4>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                    <table st-pipe="vm.callServer" st-table="vm.records"
                           class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th class="text-center">Cod. Produto</th>
                            <th class="mdl-data-table__cell--non-numeric">Descrição</th>
                            <th class="mdl-data-table__cell--non-numeric">Unidade</th>
                            <th class="text-center">Estoque Atual</th>
                            <th class="text-center">1 dia</th>
                            <th class="text-center">2 dia</th>
                            <th class="text-center">3 dia</th>
                            <th class="text-center">4 dia</th>
                            <th class="text-center">5 dia</th>
                            <th class="text-center">Total</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="product in vm.records" ng-show="!vm.loading">
                            <td class="text-center">{{product.productCli}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{product.productDesc}}</td>
                            <td class="mdl-data-table__cell--non-numeric"> {{product.unit}}</td>
                            <td class="text-center"> {{product.currentStock}}</td>
                            <td class="text-center"> {{product.day1}}</td>
                            <td class="text-center">{{product.day2}}</td>
                            <td class="text-center">{{product.day3}}</td>
                            <td class="text-center">{{product.day4}}</td>
                            <td class="text-center">{{product.day5}}</td>
                            <td class="text-center">{{product.total}}</td>
                        </tr>
                        <tr ng-if="vm.records.length == 0 || vm.loading">
                            <td class="mdl-data-table__cell--non-numeric text-center" colspan="10">
                                Nenhum registro econtrado!
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr ng-if="vm.records.length > 0 && !vm.loading">
                            <td colspan="10" class="text-center">
                                <div class="mdl-cell mdl-cell--12-col text-center" st-pagination=""
                                     st-items-by-page="10" st-template="view/pagination/pagination.html">
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab right"
                            ng-if="vm.records.length > 0 && !vm.loading" ng-click="vm.export()" title="Gerar Excel">
                        <em class="material-icons">backup</em>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-mega-footer__bottom-section" ng-include="'view/template/footer.html'"></div>
</div>
