<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="docs-text-styling docs-readme">

					<div class="mdl-cell mdl-cell--12-col">
						<h4 id="introduction">Lista Ajuste de Estoque</h4>
					</div>
					<div class="mdl-cell mdl-cell--12-col">
						<form name="form">

							<div class="mdl-cell mdl-cell--12-col">
								<md-autocomplete flex
									md-selected-item="vm.manterAjusteEstoque.filtro.produto"
									md-search-text="vm.textSearch"
									md-items="produto in vm.produtoSearch(vm.textSearch)"
									md-item-text="produto.nome" md-delay="300"
									md-floating-label="Produto:">
								<div layout="row" class="item" layout-align="start center">
									<span md-highlight-text="vm.textSearch">{{produto.idCodProduto}} -
										{{produto.nome}}</span>
								</div>
								</md-autocomplete>
							</div>
							<div
								class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
								<input data-ui-date-format="dd/mm/yy" data-ng-readonly="true"
									data-ui-date="vm.timezone.dateOptions"
									data-ng-model="vm.dataInicialStr" class="mdl-textfield__input"
									type="text"> <label class="mdl-textfield__label">Data
									Inicial</label>
							</div>
							<div
								class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
								<input data-ui-date-format="dd/mm/yy" data-ng-readonly="true"
									data-ui-date="vm.timezone.dateOptions"
									data-ng-model="vm.dataFinalStr" class="mdl-textfield__input"
									type="text"> <label class="mdl-textfield__label">Data
									Final</label>
							</div>

							<div id="botoesDiv">
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
									data-ng-if="vm.loading == false" data-ng-click="vm.listar()"
									title="Pesquisar">
									<em class="material-icons">search</em>
								</button>
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
									data-ng-if="vm.loading == false" data-ng-click="vm.novo()"
									title="Incluir">
									<em class="material-icons">add</em>
								</button>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty right text-left"
									data-ng-if="vm.manterAjusteEstoque.lista.length > 0">
									<select id="quantidadePorPagina" class="mdl-select__input"
										data-ng-model="vm.manterAjusteEstoque.filtro.paginate.quantidadePorPagina"
										data-ng-change="vm.quantidadePorPagina()"
										data-ng-options="option as 'Resultados por página ' + option for option in vm.paginas">
									</select>
								</div>
							</div>

							<div id="loading" class="mdl-cell mdl-cell--12-col center">
								<div
									class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"
									data-ng-show="vm.loading == true"></div>
							</div>
						</form>
					</div>

					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
						<thead>
							<tr>
								<th class="mdl-data-table__cell--non-numeric">Código</th>
								<th class="mdl-data-table__cell--non-numeric">Cód. Prod.</th>
								<th
									class="mdl-data-table__cell--non-numeric width-column-decription-max">Descrição</th>
								<th class="mdl-data-table__cell--non-numeric">Quantidade</th>
								<th class="mdl-data-table__cell--non-numeric">Rubrica</th>
								<th class="mdl-data-table__cell--non-numeric">Tipo</th>
								<th class="mdl-data-table__cell--non-numeric">Data</th>
								<th class="mdl-data-table__cell--non-numeric">Local</th>
								<th class="mdl-data-table__cell--non-numeric">Editar</th>
								<th class="mdl-data-table__cell--non-numeric">Excluir</th>
							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-repeat="estoque in vm.manterAjusteEstoque.lista track by $index">
								<td class="mdl-data-table__cell--non-numeric">{{estoque.id}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{estoque.produto.idCodProduto}}</td>
								<td
									class="mdl-data-table__cell--non-numeric width-column-decription-max">{{estoque.produto.nome}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{estoque.quantidadeAjusteEstoque}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{estoque.tpRubrica}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{estoque.tipoAjusteEstoque}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{estoque.dataAjusteEstoqueFormatada}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{estoque.idLocal}}</td>
								<td class="mdl-data-table__cell--non-numeric">
									<button id="btEditarAjusteEstoque"
										data-ng-click="vm.toEdit(estoque)"
										class="mdl-button mdl-js-button mdl-button--icon"
										title="Editar">
										<em class="material-icons">edit</em>
									</button>
								</td>
								<td class="mdl-data-table__cell--non-numeric">
									<button id="btExcluirAjusteEstoque"
										data-ng-click="vm.seleciona(estoque)"
										class="mdl-button mdl-js-button mdl-button--icon"
										title="Excluir">
										<em class="material-icons">delete</em>
									</button>
								</td>
							</tr>
							<tr
								data-ng-if="!vm.manterAjusteEstoque.lista || vm.manterAjusteEstoque.lista.length == 0">
								<td class="mdl-data-table__cell--non-numeric" colspan="10">Nenhum
									registro econtrado!</td>
							</tr>
						</tbody>
					</table>

					<div class="mdl-cell mdl-cell--12-col">
						<div class="mdl-cell mdl-cell--12-col text-center"
							data-ng-if="vm.manterAjusteEstoque.lista.length > 0">
							<ul class="pagination2 border">
								<li
									data-ng-show="vm.manterAjusteEstoque.filtro.paginate.paginaAtual > 0"><a
									href="javascript:void(0)" data-ng-click="vm.toPage(0)"
									title="Primeira página">«</a></li>
								<li
									data-ng-show="vm.manterAjusteEstoque.filtro.paginate.paginaAtual > 0"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterAjusteEstoque.filtro.paginate.paginaAtual - 1)"
									title="Página anterior"><span>&#60;</span></a></li>
								<li><a class="active" href="javascript:void(0)"><input
										data-ng-model="vm.page" data-ng-change="vm.selectPage()"
										data-ng-required="true"
										class="mdl-textfield__input width-paginate" type="number"
										id="paginaAtual" title="Digite o número da página" /></a></li>
								<li><a href="javascript:void(0)">de
										{{vm.manterAjusteEstoque.filtro.paginate.numTotalPaginas}}</a></li>
								<li
									data-ng-show="vm.manterAjusteEstoque.filtro.paginate.paginaAtual < (vm.manterAjusteEstoque.filtro.paginate.numTotalPaginas-1)"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterAjusteEstoque.filtro.paginate.paginaAtual + 1)"
									title="Próxima página"><span>&#62;</span></a></li>
								<li
									data-ng-show="vm.manterAjusteEstoque.filtro.paginate.paginaAtual < (vm.manterAjusteEstoque.filtro.paginate.numTotalPaginas-1)"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterAjusteEstoque.filtro.paginate.numTotalPaginas-1)"
									title="Página final">»</a></li>
							</ul>
						</div>
						<div id="loading" class="mdl-cell mdl-cell--12-col center">
							<div
								class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center"
								data-ng-show="vm.loading == true"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>

<dialog id="deleteDialog" class="mdl-dialog width-400px">
<h4 class="mdl-dialog__title">Confirmação</h4>
<div class="mdl-dialog__content">
	<p>Deseja confirmar a exclusão do ajuste de estoque do produto
		{{vm.ajusteEstoqueSelecionado.produto.nome}}?</p>
</div>
<div class="mdl-dialog__actions">
	<button type="button" class="mdl-button" data-ng-click="vm.excluir()">Sim</button>
	<button type="button" class="mdl-button close"
		data-ng-click="vm.closeDialog()">Não</button>
</div>
</dialog>