<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer"
	data-ng-init="vm.mask()">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="mdl-cell mdl-cell--12-col">
					<h4 id="introduction">Cadastro Ajuste de Estoque</h4>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
					<div class="mdl-card__supporting-text">
						* Campos obrigatórios!
						<form name="form" novalidate>

							<div class="mdl-cell mdl-cell--12-col" data-ng-if="!vm.manterAjusteEstoque.ajusteEstoque.id">
								<md-autocomplete flex
									md-selected-item="vm.manterAjusteEstoque.ajusteEstoque.produto"
									md-search-text="vm.textSearch"
									md-items="item in vm.produtoSearch(vm.textSearch)"
									md-item-text="item.nome" md-delay="300"
									md-floating-label="Produto*:">
								<div layout="row" class="item" layout-align="start center">
									<span md-highlight-text="vm.textSearch">{{item.id}} -
										{{item.nome}}</span>
								</div>
								</md-autocomplete>
							</div>
							
							<div
								data-ng-if="vm.manterAjusteEstoque.ajusteEstoque.id" 
								class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
								<input data-ng-model="vm.manterAjusteEstoque.ajusteEstoque.produto.nome"
									data-ng-required="true" value="{{vm.manterCliente.nome}}"
									class="mdl-textfield__input" type="text" readonly="readonly" 
									id="nome" /> <label class="mdl-textfield__label" for="nome">Produto*:</label>
							</div>

							<div id="quantidadeDiv">
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--2-col">
									<input
										data-ng-model="vm.manterAjusteEstoque.ajusteEstoque.quantidadeAjusteEstoque"
										class="mdl-textfield__input" type="number" id="quantidade"
										data-ng-required="true" /> <label class="mdl-select__label"
										for="destinatario">Quantidade*:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
									<input data-ui-date-format="dd/mm/yy" data-ng-readonly="true"
										data-ui-date="vm.timezone.dateOptions"
										data-ng-model="vm.dataStr" class="mdl-textfield__input"
										type="text"> <label class="mdl-textfield__label">Data
										do Ajuste</label>
								</div>
							</div>

							<div id="rubricaDiv">
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--4-col">
									<select id="rubrica" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterAjusteEstoque.ajusteEstoque.tpRubrica">
										<option value="">Selecione</option>
										<option value="TF">Transferência filial</option>
										<option value="AJ">Ajuste</option>
										<option value="TM">Transferência matriz</option>
										<option value="PR">Produção</option>
									</select> <label class="mdl-select__label" for="rubrica">Rubrica*:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--4-col">
									<select id="rubrica" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterAjusteEstoque.ajusteEstoque.tipoAjusteEstoque">
										<option value="">Selecione</option>
										<option value="T">Transferência</option>
										<option value="E">Entrada</option>
										<option value="S">Saída</option>
									</select> <label class="mdl-select__label" for="rubrica">Tipo*:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--4-col">
									<select id="rubrica" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterAjusteEstoque.ajusteEstoque.idLocal">
										<option value="">Selecione</option>
										<option value="F">Filial</option>
										<option value="M">Matriz</option>
									</select> <label class="mdl-select__label" for="rubrica">Local*:</label>
								</div>
							</div>

							<div id="observacaoDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
									<textarea class="mdl-textfield__input" rows="5" id="observacao"
										maxlength="500" data-ng-required="true"
										data-ng-model="vm.manterAjusteEstoque.ajusteEstoque.observacao">{{vm.manterAjusteEstoque.ajusteEstoque.observacao}}</textarea>
									<label class="mdl-select__label" for="msg">Observação*:</label>
								</div>
							</div>

							<div id="botoesDiv">
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-disabled="form.$invalid" data-ng-click="vm.salvar()"
									title="Salvar">Salvar</button>
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-click="vm.voltar()" title="Voltar">Voltar</button>
							</div>

						</form>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>