<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="docs-text-styling docs-readme">	
				
					<div class="mdl-cell mdl-cell--12-col">
						<h4 id="introduction">Preço Mínimo / Quantidade Mínima</h4>
						<div class="mdl-cell mdl-cell--12-col">
							
							<div
								class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
								<input data-ui-date-format="dd/mm/yy" data-ng-readonly="true"
									data-ui-date="vm.timezone.dateOptions"
									data-ng-model="vm.dataInicialStr" class="mdl-textfield__input"
									type="text"> <label class="mdl-textfield__label">Data
									Inicial</label>
							</div>
							<div
								class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
								<input data-ui-date-format="dd/mm/yy" data-ng-readonly="true"
									data-ui-date="vm.timezone.dateOptions"
									data-ng-model="vm.dataFinalStr" class="mdl-textfield__input"
									type="text"> <label class="mdl-textfield__label">Data
									Final</label>
							</div>
							
							<button
								class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
								data-ng-click="vm.listar()"
								data-ng-disabled="vm.loading"
								title="Pesquisar">
								<em class="material-icons">search</em>
							</button>
							<div class="mdl-select right" ng-if="vm.manterDescQtdeMinima.lista.length > 0">
								<select id="quantidadePorPagina" class="mdl-select__input"
								        ng-model="vm.manterDescQtdeMinima.filtro.produto.paginate.quantidadePorPagina"
								        ng-change="vm.quantidadePorPagina()"
								        data-ng-options="option as 'Resultados por página ' + option for option in vm.paginas">
								</select>
							</div>
						</div>
						<div
							class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"
							data-ng-show="vm.loading == true"></div>
					</div>

					<form name="quantidadeVendaForm" novalidate>
					
						<div class="mdl-cell mdl-cell--12-col">
							<div class = "mdl-tabs mdl-js-tabs">
							
				               <div class="mdl-tabs__tab-bar">
				                  <a href="#tab1-panel" class="mdl-tabs__tab is-active">Preço Mínimo</a>
				                  <a href="#tab2-panel" class="mdl-tabs__tab">Quantidade Mínima</a>
				               </div>
				            
				               <div class="mdl-tabs__panel is-active" id="tab1-panel">
				               		<table st-table="rowsTable" st-safe-src="vm.manterDescQtdeMinima.lista"
										class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-100-perc">
										<thead>
											<tr>
												<th class="mdl-data-table__cell--non-numeric">Período de Metas</th>
												<th class="mdl-data-table__cell--non-numeric" st-sort="idCodProduto">
													<span class="fa fa-sort"></span>
													Código</th>
												<th class="mdl-data-table__cell--non-numeric" st-sort="nome">
													<span class="fa fa-sort"></span>
													Nome</th>
												<th class="mdl-data-table__cell--non-numeric"
													data-ng-repeat="vendedor in vm.manterDescQtdeMinima.vendedores">{{vendedor.nome}}</th>
											</tr>
										</thead>
										<tbody>
											<tr
												data-ng-repeat="produto in rowsTable track by $index">
												<td class="mdl-data-table__cell--non-numeric">{{produto.periodoDescricao}}</td>
												<td class="mdl-data-table__cell--non-numeric">{{produto.idCodProduto}}</td>
												<td class="mdl-data-table__cell--non-numeric">{{produto.nome}}</td>
												<td class="mdl-data-table__cell--non-numeric"
													data-ng-repeat="preco in produto.metasVendedores"><input
													data-ng-model="preco.percentualDesconto"
													data-ng-disabled="vm.loading" class="mdl-textfield__input"
													type="number" id="{{preco.id}}"
													data-ng-change="vm.addItensAlterados(preco)" /></td>
											</tr>
											<tr
												data-ng-if="!rowsTable || rowsTable.length == 0">
												<td class="mdl-data-table__cell--non-numeric" colspan="11">Nenhum
													registro econtrado!</td>
											</tr>
										</tbody>
									</table>
				               </div>
				            
				               <div class="mdl-tabs__panel" id="tab2-panel">
				               		<table st-table="rowsTable" st-safe-src="vm.manterDescQtdeMinima.lista"
										class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-100-perc">
										<thead>
											<tr>
												<th class="mdl-data-table__cell--non-numeric">Período de Metas</th>
												<th class="mdl-data-table__cell--non-numeric" st-sort="idCodProduto">
													<span class="fa fa-sort"></span>
													Código
												</th>
												<th class="mdl-data-table__cell--non-numeric" st-sort="nome">
													<span class="fa fa-sort"></span>
													Nome
												</th>
												<th class="mdl-data-table__cell--non-numeric"
													data-ng-repeat="vendedor in vm.manterDescQtdeMinima.vendedores">{{vendedor.nome}}</th>
											</tr>
										</thead>
										<tbody>
											<tr
												data-ng-repeat="produto in rowsTable track by $index">
												<td class="mdl-data-table__cell--non-numeric">{{produto.periodoDescricao}}</td>
												<td class="mdl-data-table__cell--non-numeric">{{produto.idCodProduto}}</td>
												<td class="mdl-data-table__cell--non-numeric">{{produto.nome}}</td>
												<td class="mdl-data-table__cell--non-numeric"
													data-ng-repeat="preco in produto.metasVendedores"><input
													data-ng-model="preco.quantidadeMinima"
													data-ng-disabled="vm.loading" class="mdl-textfield__input"
													type="number" id="{{preco.id}}"
													data-ng-change="vm.addItensAlterados(preco)" /></td>
											</tr>
											<tr
												data-ng-if="!rowsTable || rowsTable.length == 0">
												<td class="mdl-data-table__cell--non-numeric" colspan="11">Nenhum
													registro econtrado!</td>
											</tr>
										</tbody>
									</table>
				               </div>
				               
				            </div>
						</div>

						<div class="mdl-cell mdl-cell--12-col text-center"
							data-ng-if="vm.manterDescQtdeMinima.lista.length > 0 && quantidadeVendaForm.$pristine">
							<ul class="pagination2 border">
								<li
									data-ng-show="vm.manterDescQtdeMinima.filtro.produto.paginate.paginaAtual > 0"><a
									href="javascript:void(0)" data-ng-click="vm.toPage(0)"
									title="Primeira página">«</a></li>
								<li
									data-ng-show="vm.manterDescQtdeMinima.filtro.produto.paginate.paginaAtual > 0"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterDescQtdeMinima.filtro.produto.paginate.paginaAtual - 1)"
									title="Página anterior"><span>&#60;</span></a></li>
								<li><a class="active" href="javascript:void(0)"><input
										data-ng-model="vm.page" data-ng-change="vm.selectPage()"
										data-ng-required="true"
										class="mdl-textfield__input width-paginate" type="number"
										id="paginaAtual" title="Digite o número da página" /></a></li>
								<li><a href="javascript:void(0)">de
										{{vm.manterDescQtdeMinima.filtro.produto.paginate.numTotalPaginas}}</a></li>
								<li
									data-ng-show="vm.manterDescQtdeMinima.filtro.produto.paginate.paginaAtual < (vm.manterDescQtdeMinima.filtro.produto.paginate.numTotalPaginas-1)"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterDescQtdeMinima.filtro.produto.paginate.paginaAtual + 1)"
									title="Próxima página"><span>&#62;</span></a></li>
								<li
									data-ng-show="vm.manterDescQtdeMinima.filtro.produto.paginate.paginaAtual < (vm.manterDescQtdeMinima.filtro.produto.paginate.numTotalPaginas-1)"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterDescQtdeMinima.filtro.produto.paginate.numTotalPaginas-1)"
									title="Página final">»</a></li>
							</ul>
						</div>
						<div id="loading" class="mdl-cell mdl-cell--12-col center">
							<div
								class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center"
								data-ng-show="vm.loading == true"></div>
						</div>

						<div class="mdl-dialog__actions">
							<button type="button"
								class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
								title="Salvar"
								data-ng-disabled="quantidadeVendaForm.$invalid || quantidadeVendaForm.$pristine || vm.loading"
								data-ng-click="vm.salvar()">Salvar</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>