<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="docs-text-styling docs-readme">
					<div class="mdl-cell mdl-cell--12-col">
						<h4 id="introduction">Período de Meta de Venda</h4>
					</div>

					<div id="datasDiv">
						<div
							class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
							<input data-ui-date-format="dd/mm/yy" data-ng-readonly="true"
								data-ui-date="vm.timezone.dateOptions"
								data-ng-model="vm.dataInicialStr" class="mdl-textfield__input"
								type="text"> <label class="mdl-textfield__label">Data
								Inicial</label>
						</div>
						<div
							class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
							<input data-ui-date-format="dd/mm/yy" data-ng-readonly="true"
								data-ui-date="vm.timezone.dateOptions"
								data-ng-model="vm.dataFinalStr" class="mdl-textfield__input"
								type="text"> <label class="mdl-textfield__label">Data
								Final</label>
						</div>
					</div>

					<form name="periodoMetaForm" novalidate>
						<div class="mdl-dialog__actions">
							<button type="button"
								class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
								title="Salvar" data-ng-disabled="periodoMetaForm.$invalid"
								data-ng-click="vm.salvar()">Salvar</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>