<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="docs-text-styling docs-readme">
				
					<form name="form" novalidate>
				
						<div class="mdl-cell mdl-cell--12-col">
							<h4 id="introduction">Venda Geral - Vendedor</h4>
						</div>
	
						<table st-table="rowsTable" st-safe-src="vm.manterVendedor.lista"
								class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
							<thead>
								<tr>
									<th class="mdl-data-table__cell--non-numeric" st-sort="id">
										<span class="fa fa-sort"></span>
										Código
									</th>
									<th class="mdl-data-table__cell--non-numeric width-column-decription-max" st-sort="nome">
										<span class="fa fa-sort"></span>
										Nome
									</th>
									<th class="mdl-data-table__cell--non-numeric width-column-decription-max">Tipo de Venda</th>
									<th class="mdl-data-table__cell--non-numeric">Percentual Troca</th>
									<th class="mdl-data-table__cell--non-numeric">Situação</th>
									<th class="mdl-data-table__cell--non-numeric width-column-decription-max">Valor Venda Geral</th>
								</tr>
							</thead>
							<tbody>
								<tr
									data-ng-repeat="vendedor in rowsTable track by $index">
									<td class="mdl-data-table__cell--non-numeric width-column-decription-max">{{vendedor.id}}</td>
									<td class="mdl-data-table__cell--non-numeric width-column-decription-max">{{vendedor.nome}}</td>
									<td class="mdl-data-table__cell--non-numeric width-column-decription-max">{{vendedor.tipo}}</td>
									<td class="mdl-data-table__cell--non-numeric">{{vendedor.percentualTroca}}</td>
									<td class="mdl-data-table__cell--non-numeric">{{vendedor.flExcluido}}</td>
									<td class="mdl-data-table__cell--non-numeric">
										<input
										data-ng-model="vendedor.valorVendaGeral"
										data-ng-disabled="vm.loading" class="mdl-textfield__input"
										type="number" id="{{vendedor.id}}"
										data-ng-change="vm.addItensAlterados(vendedor)" />
									</td>
								</tr>
								<tr
									data-ng-if="!rowsTable || rowsTable.length == 0">
									<td class="mdl-data-table__cell--non-numeric" colspan="11">Nenhum
										registro econtrado!</td>
								</tr>
							</tbody>
						</table>
	
						<div class="mdl-cell mdl-cell--12-col text-center"
							data-ng-if="vm.manterVendedor.lista.length > 0 && form.$pristine">
							<ul class="pagination2 border">
								<li
									data-ng-show="vm.manterVendedor.filtro.paginate.paginaAtual > 0"><a
									href="javascript:void(0)" data-ng-click="vm.toPage(0)"
									title="Primeira página">«</a></li>
								<li
									data-ng-show="vm.manterVendedor.filtro.paginate.paginaAtual > 0"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterVendedor.filtro.paginate.paginaAtual - 1)"
									title="Página anterior"><span>&#60;</span></a></li>
								<li><a class="active" href="javascript:void(0)"><input
										data-ng-model="vm.page" data-ng-change="vm.selectPage()"
										data-ng-required="true"
										class="mdl-textfield__input width-paginate" type="number"
										id="paginaAtual" title="Digite o número da página" /></a></li>
								<li><a href="javascript:void(0)">de
										{{vm.manterVendedor.filtro.paginate.numTotalPaginas}}</a></li>
								<li
									data-ng-show="vm.manterVendedor.filtro.paginate.paginaAtual < (vm.manterVendedor.filtro.paginate.numTotalPaginas-1)"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterVendedor.filtro.paginate.paginaAtual + 1)"
									title="Próxima página"><span>&#62;</span></a></li>
								<li
									data-ng-show="vm.manterVendedor.filtro.paginate.paginaAtual < (vm.manterVendedor.filtro.paginate.numTotalPaginas-1)"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterVendedor.filtro.paginate.numTotalPaginas-1)"
									title="Página final">»</a></li>
							</ul>
						</div>
						<div id="loading" class="mdl-cell mdl-cell--12-col center">
							<div
								class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center"
								data-ng-show="vm.loading == true"></div>
						</div>
						<div class="mdl-dialog__actions">
							<button type="button"
								class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
								title="Salvar"
								data-ng-disabled="form.$invalid || form.$pristine || vm.loading"
								data-ng-click="vm.salvar()">Salvar</button>
						</div>
					
					</form>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>