<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer"
	data-ng-init="vm.mask()">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="mdl-cell mdl-cell--12-col">
					<h4 id="introduction">Cadastro de Recado ao Vendedor</h4>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
					<div class="mdl-card__supporting-text">
						* Campos obrigatórios!
						<form name="form" novalidate>

							<div id="recadoDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
									<textarea class="mdl-textfield__input" rows="5" id="msg"
										maxlength="500" data-ng-required="true"
										data-ng-model="vm.manterRecado.msg">{{vm.manterRecado.msg}}</textarea>
									<label class="mdl-select__label" for="msg">Recado*:</label>
								</div>
							</div>

							<div id="destinatarioDiv">
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--4-col">
									<select id="destinatario" class="mdl-select__input"
										data-ng-model="vm.manterRecado.destinatario"
										data-ng-options="destinatario.login as destinatario.login for destinatario in vm.loginVendedores">
										<option value="">Todos</option>
									</select> <label class="mdl-select__label" for="destinatario">Login
										Destinatário:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
									<input data-ui-date-format="dd/mm/yy" data-ng-readonly="true"
										data-ui-date="vm.timezone.dateOptions"
										data-ng-model="vm.dataStr" class="mdl-textfield__input"
										type="text"> <label class="mdl-textfield__label">Data</label>
								</div>
							</div>

							<div id="botoesDiv">
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-disabled="form.$invalid" data-ng-click="vm.salvar()"
									title="Salvar">Salvar</button>
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-click="vm.voltar()" title="Voltar">Voltar</button>
							</div>

						</form>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>