<!--<div  style="display: inline-block">-->
<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="page-content">
        <div class="mdl-grid portfolio-copy">
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <div class="docs-text-styling docs-readme">
                    <div class="mdl-cell mdl-cell--12-col">
                        <h4 id="introduction">Lista de Pedidos</h4>
                    </div>
                    <md-content layout-padding>
                        <div>
                            <form name="pedidosForm">
                                <div layout="row" layout-xs="column" layout-sm="column">
                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Nr. Pedido</label>
                                        <input ng-model="vm.filter.pedido.idPedidoCliente" type="text">
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-xs="column" layout-sm="column">
                                    <div flex="50" flex-xs="100" flex-sm="100">
                                        <md-autocomplete id="productFilterOrder" flex
                                                         md-selected-item="vm.filter.produto"
                                                         md-search-text="vm.productTextSearch"
                                                         md-items="produto in vm.productSearch(vm.productTextSearch)"
                                                         md-item-text="produto.nome"
                                                         md-delay="300"
                                                         md-floating-label="Produto:">
                                            <div layout="row" class="item" layout-align="start center">
                                                <span md-highlight-text="vm.produtoTextSearch">{{produto.idCodProduto}} - {{produto.nome}}</span>
                                            </div>
                                        </md-autocomplete>
                                    </div>

                                    <div flex="50" flex-xs="100" flex-sm="100">
                                        <md-autocomplete id="customerFilterOrder" flex
                                                         md-selected-item="vm.filter.cliente"
                                                         md-search-text="vm.customerTextSearch"
                                                         md-items="customer in vm.customerSearch(vm.customerTextSearch)"
                                                         md-item-text="customer.nome"
                                                         md-delay="300"
                                                         md-floating-label="Cliente:">
                                            <div layout="row" class="item" layout-align="start center">
                                                <span md-highlight-text="vm.customerTextSearch">{{customer.idCodPessoa}} - {{customer.nome}}</span>
                                            </div>
                                        </md-autocomplete>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" layout-sm="column">
                                    <div flex="50" flex-xs="100" flex-sm="100">
                                        <md-autocomplete id="providerFilterOrder" flex
                                                         md-selected-item="vm.filter.fornecedor"
                                                         md-search-text="vm.fornecedorTextSearch"
                                                         md-items="fornecedor in vm.fornecedorSearch(vm.fornecedorTextSearch)"
                                                         md-item-text="fornecedor.nome"
                                                         md-delay="300"
                                                         md-floating-label="Fornecedor:">
                                            <div layout="row" class="item" layout-align="start center">
                                                <span md-highlight-text="vm.fornecedorTextSearch">{{fornecedor.id}} - {{fornecedor.nome}}</span>
                                            </div>
                                        </md-autocomplete>
                                    </div>
                                    <div flex="25" flex-xs="100" flex-sm="100" class="mdl-textfield">
                                        <label class="mdl-textfield__label">Vendedor:</label>
                                        <select id="sellerOptionListOrder" class="mdl-textfield__input"
                                                ng-model="vm.filter.vendedor"
                                                ng-options="option as option.id + ' - ' + option.nome for option in vm.sellers track by option.id">
                                            <option value="">Todos</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layout-row layout-md-row layout-sm-column layout-xs-column">
                                    <div flex-md="50" flex-lg="50" flex="50" flex-sm="100" flex-xs="100"
                                         class="mdl-block">
                                        <div class="mdl-textfield" flex-sm="50" flex="50" flex-xs="50">
                                            <label class="mdl-textfield__label">Período de venda:</label>
                                            <input id="startDateSellFilterOrder" data-ui-date-format="dd/mm/yy"
                                                   data-ui-date="vm.timezone.dateOptions"
                                                   ng-model="vm.filter.vendaInicial" class="mdl-textfield__input"
                                                   type="text">
                                        </div>
                                        <div class="mdl-textfield" flex-sm="50" flex="50" flex-xs="50">
                                            <label class="mdl-textfield__label">até</label>
                                            <input id="endDateSellFilterOrder" ui-date-format="dd/mm/yy"
                                                   data-ui-date="vm.timezone.dateOptions"
                                                   ng-model="vm.filter.vendaFinal" class="mdl-textfield__input"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div flex="25" flex-xs="100" flex-sm="100" class="mdl-textfield">
                                        <label class="mdl-textfield__label">Rotas:</label>
                                        <select id="routesOptionList" class="mdl-textfield__input"
                                                ng-model="vm.filter.rota"
                                                ng-options="option as option.id + ' - ' + option.descricao for option in vm.routes track by option.id">
                                            <option value="">Todos</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layout-row layout-sm-row layout-md-row">
                                    <div flex-md="50" flex-lg="50" flex="50" flex-sm="100" flex-xs="100">
                                        <div class="mdl-textfield">
                                            <label class="mdl-textfield__label">Período de entrega:</label>
                                            <input id="startDateDeliveryFilterOrder" data-ui-date-format="dd/mm/yy"
                                                   data-ui-date="vm.timezone.dateOptions"
                                                   ng-model="vm.filter.entregaInicial" class="mdl-textfield__input"
                                                   type="text">
                                        </div>
                                        <div class="mdl-textfield">
                                            <label class="mdl-textfield__label">até</label>
                                            <input id="endDateDeliveryFilterOrder" data-ui-date-format="dd/mm/yy"
                                                   data-ui-date="vm.timezone.dateOptions"
                                                   ng-model="vm.filter.entregaFinal" class="mdl-textfield__input"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>

                                <div id="botoesDiv">
                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                                            ng-if="!vm.loading" data-ng-click="vm.listar()" title="Pesquisar">
                                        <em class="material-icons">search</em>
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                                            ng-if="!vm.loading" data-ng-click="vm.novo()" title="Incluir">
                                        <em class="material-icons">add</em>
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                                            ng-if="!vm.loading" data-ng-click="vm.integrametapedido()" title="Integra Pedidos/Metas">
                                        <em class="material-icons">import_export</em>
                                    </button>
                                    <div class="mdl-select right" ng-if="vm.records.length > 0">
                                        <select id="quantidadePorPagina" class="mdl-select__input"
                                                ng-model="vm.tableState.pagination.number"
                                                ng-change="vm.quantidadePorPagina()"
                                                data-ng-options="option as 'Resultados por página ' + option for option in vm.paginas">
                                        </select>
                                    </div>
                                </div>
                                <div id="loadingOrderId" class="mdl-cell mdl-cell--12-col center">
                                    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"
                                         ng-show="vm.loading">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </md-content>

                    <table st-pipe="vm.callServer" st-table="vm.records"
                           class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric" st-sort="ID_PEDIDO_CLIENTE">
                                <span class="fa fa-sort"></span>
                                Pedido
                            </th>
                            <th class="mdl-data-table__cell--non-numeric" st-sort="ID_CLIENTE">
                                <span class="fa fa-sort"></span>
                                Cod. Cliente
                            </th>
                            <th class="mdl-data-table__cell--non-numeric width-column-decription-max">Nome</th>
                            <th class="mdl-data-table__cell--non-numeric width-column-decription-max">Vendedor</th>
                            <th class="mdl-data-table__cell--non-numeric width-column-decription-max">
                                Forma Pagamento
                            </th>
                            <th class="mdl-data-table__cell--non-numeric">Total Venda</th>
                            <th class="mdl-data-table__cell--non-numeric">Total Troca</th>
                            <th class="mdl-data-table__cell--non-numeric">Total Líquido</th>
                            <th class="mdl-data-table__cell--non-numeric">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="pedido in vm.records" ng-show="!vm.loading">
                            <td class="mdl-data-table__cell--non-numeric">{{pedido.idPedidoCliente}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{pedido.idCodCliente}}</td>
                            <td class="mdl-data-table__cell--non-numeric width-column-decription-max">
                                {{pedido.nomeCliente}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric width-column-decription-max">
                                {{pedido.nomeVendedor}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric width-column-decription-max">
                                {{pedido.descricaoFormaPagamento}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{pedido.totalVenda}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{pedido.totalTroca}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{pedido.totalLiquido}}</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <button id="btEditarPedido" data-ng-click="vm.toEdit(pedido)"
                                        class="mdl-button mdl-js-button mdl-button--icon"
                                        title="Editar">
                                    <em class="material-icons">edit</em>
                                </button>
                                <button id="btExcluirPedido"
                                        data-ng-click="vm.seleciona(pedido)"
                                        class="mdl-button mdl-js-button mdl-button--icon"
                                        title="Excluir">
                                    <em class="material-icons">delete</em>
                                </button>
                                <button ng-show="vm.loadingExport" title="Imprimindo"
                                        class="mdl-button mdl-js-button mdl-button--icon" disabled>
                                    <em class="fa fa-spinner fa-spin"></em>
                                </button>
                                <button id="btnPrintSelectedProduct" ng-hide="vm.loadingExport" title="Imprimir"
                                        ng-click="vm.printOrder(pedido)"
                                        class="mdl-button mdl-js-button mdl-button--icon">
                                    <em class="material-icons">print</em>
                                </button>
                            </td>
                        </tr>
                        <tr ng-if="vm.records.length == 0 || vm.loading">
                            <td class="mdl-data-table__cell--non-numeric text-center" colspan="10">
                                Nenhum registro econtrado!
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr ng-if="vm.records.length > 0 && !vm.loading">
                            <td colspan="9" class="text-center">
                                <div class="mdl-cell mdl-cell--12-col text-center" st-pagination=""
                                     st-items-by-page="10" st-template="view/pagination/pagination.html">
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-include="'view/template/footer.html'"></div>
</div>

<dialog id="deleteDialog" class="mdl-dialog width-400px">
    <h4 class="mdl-dialog__title">Confirmação</h4>
    <div class="mdl-dialog__content">
        <p>Deseja confirmar a exclusão do pedido
            {{vm.pedidoSelecionado.nome}}?</p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" data-ng-click="vm.excluir()">Sim</button>
        <button type="button" class="mdl-button close"
                data-ng-click="vm.closeDialog()">Não
        </button>
    </div>
</dialog>
