<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="page-content">
        <div class="mdl-grid portfolio-copy">
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <div class="mdl-cell mdl-cell--12-col">
                    <h4 id="introduction">Cadastro de Pedido</h4>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
                    * Campos obrigatórios!
                    <div class="mdl-cell mdl-cell--12-col">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                                ng-if="!vm.loading" data-ng-click="vm.novo_init()" title="NOVO PEDIDO">
                            <em class="material-icons">queue</em>
                        </button>
                    </div>
                    <form name="orderForm" novalidate>
                        <div class="order-step-register">
                            <div class="step-container">
                                <div class="progress"
                                     ng-class="{'editing': vm.step.customer === 'editing', 'ready': vm.step.customer === 'ready' || !!vm.order.id}">
                                </div>
                                <div class="step" ng-click="orderForm.$valid && vm.changeEditingStepNext('customer')"
                                     ng-class="{'editing': vm.step.customer === 'editing', 'ready': vm.step.customer === 'ready' || !!vm.order.id}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm95.8 32.6L272 480l-32-136 32-56h-96l32 56-32 136-47.8-191.4C56.9 292 0 350.3 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z"/>
                                    </svg>
                                    <label>Cliente</label>
                                </div>
                                <div class="progress"
                                     ng-class="{'editing': vm.step.payment === 'editing', 'ready': vm.step.payment === 'ready' || !!vm.order.id}">
                                </div>
                                <div class="step" ng-click="orderForm.$valid && vm.changeEditingStepNext('payment')"
                                     ng-class="{'editing': vm.step.payment === 'editing', 'ready': vm.step.payment === 'ready' || !!vm.order.id}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                        <path d="M608 32H32C14.33 32 0 46.33 0 64v384c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V64c0-17.67-14.33-32-32-32zM176 327.88V344c0 4.42-3.58 8-8 8h-16c-4.42 0-8-3.58-8-8v-16.29c-11.29-.58-22.27-4.52-31.37-11.35-3.9-2.93-4.1-8.77-.57-12.14l11.75-11.21c2.77-2.64 6.89-2.76 10.13-.73 3.87 2.42 8.26 3.72 12.82 3.72h28.11c6.5 0 11.8-5.92 11.8-13.19 0-5.95-3.61-11.19-8.77-12.73l-45-13.5c-18.59-5.58-31.58-23.42-31.58-43.39 0-24.52 19.05-44.44 42.67-45.07V152c0-4.42 3.58-8 8-8h16c4.42 0 8 3.58 8 8v16.29c11.29.58 22.27 4.51 31.37 11.35 3.9 2.93 4.1 8.77.57 12.14l-11.75 11.21c-2.77 2.64-6.89 2.76-10.13.73-3.87-2.43-8.26-3.72-12.82-3.72h-28.11c-6.5 0-11.8 5.92-11.8 13.19 0 5.95 3.61 11.19 8.77 12.73l45 13.5c18.59 5.58 31.58 23.42 31.58 43.39 0 24.53-19.05 44.44-42.67 45.07zM416 312c0 4.42-3.58 8-8 8H296c-4.42 0-8-3.58-8-8v-16c0-4.42 3.58-8 8-8h112c4.42 0 8 3.58 8 8v16zm160 0c0 4.42-3.58 8-8 8h-80c-4.42 0-8-3.58-8-8v-16c0-4.42 3.58-8 8-8h80c4.42 0 8 3.58 8 8v16zm0-96c0 4.42-3.58 8-8 8H296c-4.42 0-8-3.58-8-8v-16c0-4.42 3.58-8 8-8h272c4.42 0 8 3.58 8 8v16z"/>
                                    </svg>
                                    <label>Pagamento</label>
                                </div>
                                <div class="progress"
                                     ng-class="{'editing': vm.step.products === 'editing', 'ready': vm.step.products === 'ready' || !!vm.order.id}">
                                </div>
                                <div class="step" ng-click="orderForm.$valid && vm.changeEditingStepNext('products')"
                                     ng-class="{'editing': vm.step.products === 'editing', 'ready': vm.step.products === 'ready' || !!vm.order.id}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path d="M576 216v16c0 13.255-10.745 24-24 24h-8l-26.113 182.788C514.509 462.435 494.257 480 470.37 480H105.63c-23.887 0-44.139-17.565-47.518-41.212L32 256h-8c-13.255 0-24-10.745-24-24v-16c0-13.255 10.745-24 24-24h67.341l106.78-146.821c10.395-14.292 30.407-17.453 44.701-7.058 14.293 10.395 17.453 30.408 7.058 44.701L170.477 192h235.046L326.12 82.821c-10.395-14.292-7.234-34.306 7.059-44.701 14.291-10.395 34.306-7.235 44.701 7.058L484.659 192H552c13.255 0 24 10.745 24 24zM312 392V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24zm112 0V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24zm-224 0V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24z"/>
                                    </svg>
                                    <label>Produtos</label>
                                </div>
                                <div class="progress"
                                     ng-class="{'editing': vm.step.comments === 'editing', 'ready': vm.step.comments === 'ready' || !!vm.order.id}">
                                </div>
                                <div class="step" ng-click="orderForm.$valid && vm.changeEditingStepNext('comments')"
                                     ng-class="{'editing': vm.step.comments === 'editing', 'ready': vm.step.comments === 'ready' || !!vm.order.id}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M400 480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zM238.1 177.9L102.4 313.6l-6.3 57.1c-.8 7.6 5.6 14.1 13.3 13.3l57.1-6.3L302.2 242c2.3-2.3 2.3-6.1 0-8.5L246.7 178c-2.5-2.4-6.3-2.4-8.6-.1zM345 165.1L314.9 135c-9.4-9.4-24.6-9.4-33.9 0l-23.1 23.1c-2.3 2.3-2.3 6.1 0 8.5l55.5 55.5c2.3 2.3 6.1 2.3 8.5 0L345 199c9.3-9.3 9.3-24.5 0-33.9z"/>
                                    </svg>
                                    <label>Observações</label>
                                </div>
                                <div class="progress"
                                     ng-class="{'editing': vm.step.finalStep === 'editing', 'ready': vm.step.finalStep === 'ready' || !!vm.order.id}">
                                </div>
                                <div class="step" ng-click="orderForm.$valid && vm.changeEditingStepNext('finalStep')"
                                     ng-class="{'editing': vm.step.finalStep === 'editing', 'ready': vm.step.finalStep === 'ready' || !!vm.order.id}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M208 132h288c8.8 0 16-7.2 16-16V76c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16zm0 160h288c8.8 0 16-7.2 16-16v-40c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16zm0 160h288c8.8 0 16-7.2 16-16v-40c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16zM64 368c-26.5 0-48.6 21.5-48.6 48s22.1 48 48.6 48 48-21.5 48-48-21.5-48-48-48zm92.5-299l-72.2 72.2-15.6 15.6c-4.7 4.7-12.9 4.7-17.6 0L3.5 109.4c-4.7-4.7-4.7-12.3 0-17l15.7-15.7c4.7-4.7 12.3-4.7 17 0l22.7 22.1 63.7-63.3c4.7-4.7 12.3-4.7 17 0l17 16.5c4.6 4.7 4.6 12.3-.1 17zm0 159.6l-72.2 72.2-15.7 15.7c-4.7 4.7-12.9 4.7-17.6 0L3.5 269c-4.7-4.7-4.7-12.3 0-17l15.7-15.7c4.7-4.7 12.3-4.7 17 0l22.7 22.1 63.7-63.7c4.7-4.7 12.3-4.7 17 0l17 17c4.6 4.6 4.6 12.2-.1 16.9z"/>
                                    </svg>
                                    <label>Resumo</label>
                                </div>
                                <div class="progress"
                                     ng-class="{'editing': vm.step.lastSells === 'editing', 'ready': vm.step.lastSells === 'ready' || !!vm.order.id}">
                                </div>
                                <div class="step" ng-click="orderForm.$valid && vm.changeEditingStepNext('lastSells')"
                                     ng-class="{'editing': vm.step.lastSells === 'editing', 'ready': vm.step.lastSells === 'ready' || !!vm.order.id}"   >
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path d="M504.717 320H211.572l6.545 32h268.418c15.401 0 26.816 14.301 23.403 29.319l-5.517 24.276C523.112 414.668 536 433.828 536 456c0 31.202-25.519 56.444-56.824 55.994-29.823-.429-54.35-24.631-55.155-54.447-.44-16.287 6.085-31.049 16.803-41.548H231.176C241.553 426.165 248 440.326 248 456c0 31.813-26.528 57.431-58.67 55.938-28.54-1.325-51.751-24.385-53.251-52.917-1.158-22.034 10.436-41.455 28.051-51.586L93.883 64H24C10.745 64 0 53.255 0 40V24C0 10.745 10.745 0 24 0h102.529c11.401 0 21.228 8.021 23.513 19.19L159.208 64H551.99c15.401 0 26.816 14.301 23.403 29.319l-47.273 208C525.637 312.246 515.923 320 504.717 320zM403.029 192H360v-60c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v60h-43.029c-10.691 0-16.045 12.926-8.485 20.485l67.029 67.029c4.686 4.686 12.284 4.686 16.971 0l67.029-67.029c7.559-7.559 2.205-20.485-8.486-20.485z"/>
                                    </svg>
                                    <label>Últimas Vendas</label>
                                </div>
                            </div>
                        </div>
                        <div class="layout-row layout-align-center">
                            <!--Customer start-->
                            <div class="mdl-cell--6-col" ng-if="vm.isEditingCustomer()">
                                <md-input-container class="mdl-textfield mdl-cell--2-col">
                                    <label>Nr. Pedido</label>
                                    <input ng-model="vm.order.id" type="text" disabled>
                                </md-input-container>
                                <md-input-container class="mdl-textfield mdl-cell--2-col">
                                    <label>Nr. Pedido Gerenciador</label>
                                    <input ng-model="vm.order.idPedidoCliente" type="text" disabled>
                                </md-input-container>
                                <md-autocomplete id="customerOrder" flex class="md-block"
                                                 md-selected-item="vm.order.cliente"
                                                 md-search-text="vm.customerTextSearch"
                                                 md-items="customer in vm.customerSearch(vm.customerTextSearch)"
                                                 md-item-text="customer.nome"
                                                 md-delay="300"
                                                 md-floating-label="Cliente:"
                                                 md-selected-item-change="vm.onChangeCustomer()"
                                                 ng-required="vm.step.customer !='ready'">
                                    <div layout="row" class="item" layout-align="start center">
                                        <span md-highlight-text="vm.customerTextSearch">{{customer.idCodPessoa}} - {{customer.nome}}</span>
                                    </div>
                                </md-autocomplete>
                                <md-input-container class="md-block">
                                    <label>Nome fantasia</label>
                                    <input ng-model="vm.order.cliente.nomeFantasia" type="text" disabled>
                                </md-input-container>
                                <md-input-container class="mdl-textfield">
                                    <label>CNPJ:</label>
                                    <input ng-model="vm.order.cliente.cnpj" type="text" disabled="disabled">
                                </md-input-container>
                                <md-input-container class="mdl-textfield">
                                    <label>Incr. Estadual:</label>
                                    <input ng-model="vm.order.cliente.inscricaoEstadual" type="text" disabled>
                                </md-input-container>
                                <md-input-container class="mdl-textfield">
                                    <label>Vendedor:</label>
                                    <input ng-model="vm.order.cliente.nomeRepresentante" type="text" disabled>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Cidade:</label>
                                    <input ng-model="vm.order.cliente.enderecoComercial.cidade.nome" type="text"
                                           disabled>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Bairro:</label>
                                    <input ng-model="vm.order.cliente.enderecoComercial.bairro" type="text" disabled>
                                </md-input-container>
                            </div>
                            <!--Customer end-->
                            <!--Payment start-->
                            <div class="mdl-cell--6-col" ng-if="vm.isEditingPayment()">
                                <div flex="100" flex-xs="100" flex-sm="100" class="mdl-textfield mdl-block">
                                    <label class="mdl-textfield__label">Forma de pagamento</label>
                                    <select ng-model="vm.order.formaPagamento" class="mdl-textfield__input"
                                            ng-options="option as option.descricao for option in vm.paymentsWay track by option.id"
                                            required>
                                    </select>
                                </div>
                                <md-input-container class="mdl-textfield">
                                    <label>Dias:</label>
                                    <input ng-model="vm.order.formaPagamento.prazo" type="text" disabled>
                                </md-input-container>
                                <md-input-container class="mdl-textfield">
                                    <label>Desconto (%):</label>
                                    <input ng-model="vm.order.cliente.percDescPadrao" type="text" ui-number-mask
                                           ng-disabled="vm.order.formaPagamento.permiteDesconto === 'N'"
                                           ng-change="vm.setDesconto()">
                                </md-input-container>
                                <md-input-container class="mdl-textfield">
                                    <label>Vencimento:</label>
                                    <input ui-date-format="dd/mm/yy" data-ui-date="vm.timezone.dateOptions"
                                           autocomplete="off"
                                           ng-model="vm.order.formaPagamento.vencimento" type="text" required>
                                </md-input-container>
                                <md-input-container class="mdl-textfield">
                                    <label>Entrega:</label>
                                    <input ui-date-format="dd/mm/yy" data-ui-date="vm.timezone.dateOptions"
                                           autocomplete="off"
                                           ng-model="vm.order.dataEntrega" type="text" required>
                                </md-input-container>
                            </div>
                            <!--Payment end-->
                            <!--Product start-->
                            <div class="mdl-cell--12-col" ng-if="vm.isEditingProduct()">
                                <div class="mdl-cell--6-col mdl-cell--3-offset">
                                    <md-autocomplete id="productOrder" flex class="md-block"
                                                     md-selected-item="vm.product"
                                                     md-search-text="vm.productTextSearch"
                                                     md-items="product in vm.productSearch(vm.productTextSearch)"
                                                     md-item-text="product.nome"
                                                     md-delay="300"
                                                     md-selected-item-change="vm.onChangeProduct()"
                                                     md-floating-label="Produto:">
                                        <div layout="row" class="item" layout-align="start center">
                                            <span md-highlight-text="vm.productTextSearch">{{ product.idCodProduto }} - {{ product.nome }}</span>
                                        </div>
                                    </md-autocomplete>

                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Estoque Atual:</label>
                                        <input ng-model="vm.product.quantidadeEstoqueAtual" type="text"
                                               disabled ui-number-mask>
                                    </md-input-container>

                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Unidade:</label>
                                        <input ng-model="vm.product.tipoUnidade" type="text" disabled>
                                    </md-input-container>

                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Quant. Venda:</label>
                                        <input ng-model="vm.product.qtdeProduto" type="text" ui-number-mask>
                                    </md-input-container>

                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Quant. Troca:</label>
                                        <input ng-model="vm.product.qtdeTroca" type="text" ui-number-mask>
                                    </md-input-container>

                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Desconto(%):</label>
                                        <input ng-model="vm.product.desconto" type="text" ui-number-mask>
                                    </md-input-container>

                                    <md-input-container class="mdl-textfield">
                                        <label>Valor Unitário:</label>
                                        <input ng-model="vm.product.vlUnitario" type="text" ui-money-mask>
                                    </md-input-container>

                                    <md-input-container class="mdl-textfield">
                                        <label>Preço Tabela:</label>
                                        <input ng-model="vm.product.precoVenda" type="text" disabled ui-money-mask>
                                    </md-input-container>

                                    <div class="flex-100 text-right">
                                        <button class="md-button" ng-click="vm.addProductToList()" title="Adicionar"
                                                ng-disabled="!vm.product.qtdeProduto || !vm.product.vlUnitario">
                                            <span class="fa fa-plus cursor_pointer"></span>
                                            Adicionar
                                        </button>
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="mdl-cell--2-col mdl-cell--10-offset qt-records">
                                        <select id="quantidadePorPagina" class="mdl-select__input"
                                                ng-model="vm.quantidadePorPagina" ng-change="vm.quantidadePorPagina()"
                                                ng-options="option as 'Resultados por página ' + option for option in vm.paginas">
                                        </select>
                                    </div>
                                    <div class="mdl-cell--12-col">
                                        <table st-table="vm.orders" st-pipe="vm.callServerOrders"
                                               class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Código</th>
                                                <th class="mdl-data-table__cell--non-numeric">Descrição</th>
                                                <th class="mdl-data-table__cell--non-numeric">Unit</th>
                                                <th class="text-center">Quant Venda</th>
                                                <th class="text-center">Valor Produto</th>
                                                <th class="text-center">Quant Troca</th>
                                                <th class="text-center">Desc (%)</th>
                                                <th class="text-center">Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="product in vm.order.produtoList | filter: vm.justValidRecords">
                                                <td class="text-center">{{product.idCodProduto}}</td>
                                                <td class="mdl-data-table__cell--non-numeric"> {{ product.nome }}</td>
                                                <td class="mdl-data-table__cell--non-numeric">
                                                    {{ product.tipoUnidade }}
                                                </td>
                                                <td class="text-center">
                                                    {{ product.qtdeProduto }}
                                                </td>
                                                <td class="text-center">{{ product.vlUnitario | currency:'R$' }}</td>
                                                <td class="text-center">{{ product.qtdeTroca || 0 }}</td>
                                                <td class="text-center">{{ product.desconto || 0 }}</td>
                                                <td class="text-center">
                                                    <button id="btnRemoveSelectedProduct" title="Excluir"
                                                            ng-click="vm.removeProductToList(product)"
                                                            class="mdl-button mdl-js-button mdl-button--icon">
                                                        <em class="material-icons">delete</em>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr ng-if="!vm.order.produtoList.length">
                                                <td class="mdl-data-table__cell--non-numeric text-center" colspan="8">
                                                    Nenhum registro encontrado!
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr ng-if="vm.order.produtoList.length > 0">
                                                <td colspan="8" class="text-center">
                                                    <div class="mdl-cell mdl-cell--12-col text-center" st-pagination=""
                                                         st-items-by-page="10" st-displayed-pages="3"
                                                         st-template="view/pagination/pagination.html">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="flex-100 right mdl-padding-15">
                                        Valor do Pedido: {{ vm.order.valorPedido | currency: 'R$' }}
                                    </div>
                                </div>
                            </div>
                            <!--Product end-->
                            <!--Comments start-->
                            <div class="mdl-cell--6-col" ng-if="vm.isEditingComments()">
                                <md-input-container class="mdl-block">
                                    <label>Observações:</label>
                                    <textarea class="mdl-textfield__input" ng-model="vm.order.observacao"
                                              rows="10"></textarea>
                                </md-input-container>
                                <md-input-container class="mdl-block">
                                    <md-radio-group ng-model="vm.order.flGeraNf" layout="row">
                                        <md-radio-button class="md-primary" value="S">
                                            Sim
                                        </md-radio-button>
                                        <md-radio-button class="md-primary" value="N">
                                            Não
                                        </md-radio-button>
                                    </md-radio-group>
                                </md-input-container>
                            </div>
                            <!--Comments end-->

                            <!--Final step start-->
                            <div class="mdl-cell--12-col mdl-padding-15" ng-if="vm.isEditingFinalStep()">
                                <div class="mdl-cell--6-col mdl-cell--3-offset">
                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Nr. Pedido</label>
                                        <input ng-model="vm.order.id" type="text" disabled>
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Nr. Pedido Gerenciador</label>
                                        <input ng-model="vm.order.idPedidoCliente" type="text" disabled>
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield mdl-cell--5-col">
                                        <label>Cliente:</label>
                                        <input class="mdl-textfield__input" ng-model="vm.order.cliente.nome" disabled>
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield mdl-cell--4-col">
                                        <label>CNPJ:</label>
                                        <input ng-model="vm.order.cliente.cnpj" type="text" disabled="disabled">
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield mdl-cell--3-col">
                                        <label>Incr. Estadual:</label>
                                        <input ng-model="vm.order.cliente.inscricaoEstadual" type="text" disabled>
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield">
                                        <label>Forma de pagamento</label>
                                        <input ng-model="vm.order.formaPagamento.descricao" disabled>
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Dias:</label>
                                        <input ng-model="vm.order.formaPagamento.prazo" type="text" disabled>
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield">
                                        <label>Vencimento:</label>
                                        <input ui-date-format="dd/mm/yy" data-ng-readonly="true"
                                               data-ui-date="vm.timezone.dateOptions" autocomplete="off"
                                               ng-model="vm.order.formaPagamento.vencimento" type="text" disabled>
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield">
                                        <label>Desconto (%):</label>
                                        <input value="{{ vm.order.valorDesconto || 0 }}" type="text"
                                               disabled>
                                    </md-input-container>
                                </div>
                                <div class="flex-100">
                                    <div class="mdl-cell--2-col mdl-cell--10-offset qt-records">
                                        <select id="quantidadePorPaginaFinalStep" class="mdl-select__input"
                                                ng-model="vm.quantidadePorPagina" ng-change="vm.quantidadePorPagina()"
                                                ng-options="option as 'Resultados por página ' + option for option in vm.paginas">
                                        </select>
                                    </div>
                                    <div class="mdl-cell--12-col">
                                        <table st-table="vm.orders" st-pipe="vm.callServerOrders"
                                               class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Código</th>
                                                <th class="mdl-data-table__cell--non-numeric">Descrição</th>
                                                <th class="mdl-data-table__cell--non-numeric">Unit</th>
                                                <th class="text-center">Quant Venda</th>
                                                <th class="text-center">Valor Produto</th>
                                                <th class="text-center">Quant Troca</th>
                                                <th class="text-center">Desc (%)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="product in vm.order.produtoList | filter: vm.justValidRecords">
                                                <td class="text-center">{{product.idCodProduto}}</td>
                                                <td class="mdl-data-table__cell--non-numeric"> {{ product.nome }}</td>
                                                <td class="mdl-data-table__cell--non-numeric">
                                                    {{ product.tipoUnidade }}
                                                </td>
                                                <td class="text-center">
                                                    {{ product.qtdeProduto }}
                                                </td>
                                                <td class="text-center">{{ product.precoVenda | currency:'R$' }}</td>
                                                <td class="text-center">{{ product.qtdeTroca || 0 }}</td>
                                                <td class="text-center">{{ product.desconto || 0 }}</td>
                                            <tr ng-if="!vm.order.produtoList.length">
                                                <td class="mdl-data-table__cell--non-numeric text-center" colspan="8">
                                                    Nenhum registro encontrado!
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr ng-if="vm.order.produtoList.length > 0">
                                                <td colspan="7" class="text-center">
                                                    <div class="mdl-cell mdl-cell--12-col text-center" st-pagination=""
                                                         st-items-by-page="10" st-displayed-pages="3"
                                                         st-template="view/pagination/pagination.html">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="mdl-cell--6-col mdl-cell--3-offset">
                                    <md-input-container class="mdl-block">
                                        <label>Observações:</label>
                                        <textarea class="mdl-textfield__input" ng-model="vm.order.observacao"
                                                  disabled></textarea>
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Total:</label>
                                        <input value="{{ vm.order.valorPedido | currency : 'R$'  }}" disabled>
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield mdl-cell--2-col">
                                        <label>Desconto %:</label>
                                        <input value="{{ vm.order.valorDesconto || 0 }}" disabled>
                                    </md-input-container>
                                    <md-input-container class="mdl-textfield">
                                        <label>&nbsp;</label>
                                        <input value="={{ vm.getTotalFinalStep() | currency:'R$' }}" disabled>
                                    </md-input-container>
                                </div>
                            </div>
                            <!--Final step end-->
                            <!--Start Last sells-->
                            <div class="mdl-cell--12-col mdl-padding-15" ng-if="vm.isEditingLastSells()">
                                <div ng-include="'view\\pedido\\items\\ultimas-vendas.html'"></div>
                            </div>
                            <!--End Last sells-->
                        </div>
                        <div class="layout-row text-right">
                            <div class="mdl-cell--11-col">
                                <button class="step-btn" ng-disabled="vm.isEditingCustomer()"
                                        ng-click="vm.changeEditingStepPrevious()" title="Voltar">
                                    <span class="fa fa-angle-double-left fa-4x cursor_pointer"></span>
                                </button>
                                <button class="step-btn"
                                        ng-disabled="vm.isEditingLastSells() || orderForm.$invalid || (vm.isEditingProduct() && !vm.order.produtoList.length)"
                                        ng-click="vm.changeEditingStepNext()" title="Avançar">
                                    <span class="fa fa-angle-double-right fa-4x cursor_pointer"></span>
                                </button>
                            </div>
                        </div>
                        <div class="layout-row layout-align-end layout-padding">
                            <div id="botoesDiv">
                                <button class="mdl-button mdl-js-button mdl-button--raised md-margin"
                                        ng-click="vm.voltar()" title="Voltar">
                                    Voltar
                                </button>
                                <!--ng-disabled="orderForm.$pristine || !vm.order.produtoList.length"-->
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                        ng-click="vm.salvar()" title="Salvar">
                                    Salvar
                                    <em class="material-icons">save</em>
                                </button>
                            </div>
                            <div class="layout-row layout-align-end layout-padding">
                                <button ng-show="vm.loadingExport" title="Imprimindo"
                                        class="mdl-button mdl-js-button mdl-button--icon" disabled>
                                    <em class="fa fa-spinner fa-spin"></em>
                                </button>
                                <button id="btnPrintSelectedProduct"
                                        ng-hide="vm.loadingExport || !vm.isEditingFinalStep()" title="Imprimir"
                                        ng-click="vm.printOrder(vm.order)"
                                        class="mdl-button mdl-js-button mdl-button--icon">
                                    <em class="material-icons">print</em>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-mega-footer__bottom-section" ng-include="'view/template/footer.html'"></div>
</div>
