<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="page-content">
        <div class="mdl-grid portfolio-copy">
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <div class="mdl-cell mdl-cell--12-col">
                    <h4 id="introduction">Editar Mapa de Carga</h4>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-card">
                <div class="load-map-container">
                    <!--Filter start-->
                    <div class="mdl-cell mdl-cell--6-col">
                        <label>Número Mapa de Carga:</label><input value="{{vm.loadMapId}}" disabled>
                    </div>
                    <form name="mapaCargaForm">
                        <div class="load-map-header">
                            <div class="load-map-header-container">
                                <div class="load-map-seller">
                                    <label class="load-map-header-title">Vendedores</label>
                                    <div class="load-map-lookup">
                                        <div>Vendedor:</div>
                                        <div class="load-map-select">
                                            <select class="mdl-textfield__input" ng-model="vm.seller"
                                                    ng-options="opt as opt.nome disable when vm.hasSellerAdded(opt) for opt in vm.sellers">
                                                <option value="">Todos</option>
                                            </select>
                                        </div>
                                        <div class="fa fa-plus fa-lg cursor_pointer" aria-hidden="true"
                                             title="Inserir vendedor" ng-click="vm.addSeller()">
                                        </div>
                                    </div>
                                    <div class="load-map-lookup-content">
                                        <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Código</th>
                                                <th class="mdl-data-table__cell--non-numeric">Nome</th>
                                                <th class="mdl-data-table__cell--non-numeric">Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="seller in vm.selectedSellers track by $index">
                                                <td class="text-center">{{seller.id}}</td>
                                                <td class="mdl-data-table__cell--non-numeric">{{seller.nome}}</td>
                                                <td class="mdl-data-table__cell--non-numeric">
                                                    <button id="btnRemoveSelectedSeller"
                                                            ng-click="vm.removeSeller(seller)"
                                                            class="mdl-button mdl-js-button mdl-button--icon"
                                                            title="Excluir vendedor">
                                                        <em class="material-icons">delete</em>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr ng-if="vm.selectedSellers.length == 0">
                                                <td class="mdl-data-table__cell--non-numeric text-center" colspan="3">
                                                    Nenhum registro selecionado!
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="load-map-routes">
                                    <label class="load-map-header-title">Rotas Vendedor</label>
                                    <div class="load-map-lookup">
                                        <div>Rota:</div>
                                        <div class="load-map-select">
                                            <select class="mdl-textfield__input" ng-model="vm.route"
                                                    ng-options="opt as opt.id + ' - ' + opt.descricao disable when vm.hasRouteAdded(opt) for opt in vm.routes">
                                                <option value="">Todos</option>
                                            </select>
                                        </div>
                                        <div class="fa fa-plus fa-lg cursor_pointer" aria-hidden="true"
                                             title="Inserir Rotas" ng-click="vm.addRoute()"></div>
                                    </div>
                                    <div class="load-map-lookup-content">
                                        <div class="load-map-lookup-content">
                                            <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                                <thead>
                                                <tr>
                                                    <th class="text-center">Código</th>
                                                    <th class="mdl-data-table__cell--non-numeric">Nome</th>
                                                    <th class="mdl-data-table__cell--non-numeric">Ações</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="route in vm.selectedRoutes track by $index">
                                                    <td class="text-center">{{route.id}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{route.descricao}}
                                                    </td>
                                                    <td class="mdl-data-table__cell--non-numeric">
                                                        <button id="btnRemoveSelectedRoute"
                                                                ng-click="vm.removeRoute(route)"
                                                                class="mdl-button mdl-js-button mdl-button--icon"
                                                                title="Excluir rota">
                                                            <em class="material-icons">delete</em>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr ng-if="vm.selectedRoutes.length == 0">
                                                    <td class="mdl-data-table__cell--non-numeric text-center"
                                                        colspan="3">
                                                        Nenhum registro selecionado!
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="mdl-textfield">
                                            <label class="mdl-textfield__label">Período:</label>
                                            <input id="startDateLoadMap" ui-date-format="dd/mm/yy" ng-readonly="false"
                                                   ui-date="vm.timezone.dateOptions" ng-model="vm.filter.dataInicial"
                                                   class="mdl-textfield__input" type="text">
                                        </div>
                                        <div class="mdl-textfield">
                                            <label class="mdl-textfield__label">até</label>
                                            <input id="endDateLoadMap" ui-date-format="dd/mm/yy" ng-readonly="false"
                                                   ui-date="vm.timezone.dateOptions" ng-model="vm.filter.dataFinal"
                                                   class="mdl-textfield__input" type="text">
                                        </div>
                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab right"
                                                ng-click="vm.search()" title="Pesquisar"
                                                ng-disabled="mapaCargaForm.$pristine || mapaCargaForm.$invalid">
                                            <em class="material-icons">search</em>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--Filter end-->
                    <div class="load-map-body">
                        <div>
                            <label>
                                Pedidos não vinculado a mapa de carga
                                <span class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center"
                                      ng-if="vm.loadingOrders">
                                </span>
                            </label>
                            <table st-table="vm.unlinkedOrders" st-pipe="vm.callServerUnlinkedOrders"
                                   class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                <thead>
                                <tr>
                                    <th class="text-center">Pedido</th>
                                    <th class="text-center">Cód. Cliente</th>
                                    <th class="mdl-data-table__cell--non-numeric">Nome Cliente</th>
                                    <th class="mdl-data-table__cell--non-numeric">Data</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center">
                                        <label class="mdl-checkbox">
                                            Ações
                                            <input ng-model="vm.checkedAllOrders" type="checkbox"
                                                   ng-click="vm.addOrderToList(null, true)"/>
                                        </label>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="order in vm.unlinkedOrders">
                                    <td class="text-center">{{order.pedidoCodeCli}}</td>
                                    <td class="text-center">{{ order.cliente }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ order.nome }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ order.data | date: 'dd/MM/yyyy' }}
                                    </td>
                                    <td class="text-center">{{ order.valor | currency:'R$' }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <input class="mdl-checkbox" type="checkbox" ng-click="vm.addOrderToList(order)"
                                               ng-model="order.checked"
                                               ng-checked="vm.checkedAllOrders || order.checked"/>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr ng-if="vm.unlinkedOrders.length === 0">
                                    <td class="mdl-data-table__cell--non-numeric text-center" colspan="6">
                                        Nenhum registro encontrado!
                                    </td>
                                </tr>
                                <tr ng-if="vm.unlinkedOrders.length > 0">
                                    <td colspan="6" class="text-center">
                                        <div class="mdl-cell mdl-cell--12-col text-center" st-pagination=""
                                             st-items-by-page="10" st-displayed-pages="3"
                                             st-template="view/pagination/pagination.html">
                                        </div>
                                    </td>
                                </tr>

                                </tfoot>
                            </table>
                        </div>
                        <div>
                            <label>Pedidos vinculados
                                <span class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center"
                                      ng-if="vm.loadingProducts">
                                </span>
                            </label>
                            <table st-table="vm.linkedOrders" st-pipe="vm.callServerOrders"
                                   class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                <thead>
                                <tr>
                                    <th class="text-center">Pedido</th>
                                    <th class="text-center">Cód. Cliente</th>
                                    <th class="mdl-data-table__cell--non-numeric">Nome Cliente</th>
                                    <th class="mdl-data-table__cell--non-numeric">Data</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="order in vm.linkedOrders">
                                    <td class="text-center">{{order.pedidoCodeCli}}</td>
                                    <td class="text-center">{{ order.cliente }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ order.nome }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {{ order.data | date: 'dd/MM/yyyy' }}
                                    </td>
                                    <td class="text-center">{{ order.valor | currency:'R$' }}</td>
                                    <td class="text-center">
                                        <button id="btnRemoveSelectedProduct" title="Excluir"
                                                ng-click="vm.removeFromList(order)"
                                                class="mdl-button mdl-js-button mdl-button--icon">
                                            <em class="material-icons">delete</em>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr ng-if="vm.linkedOrders.length == 0">
                                    <td class="mdl-data-table__cell--non-numeric text-center" colspan="6">
                                        Nenhum registro encontrado!
                                    </td>
                                </tr>
                                <tr ng-if="vm.linkedOrders.length > 0">
                                    <td colspan="6" class="text-center">
                                        <div class="mdl-cell mdl-cell--12-col text-center" st-pagination=""
                                             st-items-by-page="10" st-displayed-pages="3"
                                             st-template="view/pagination/pagination.html">
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="right mdl-padding-15">
                                <div class="right mdl-padding-top-18">
                                    <button class="mdl-button mdl-js-button mdl-button--raised md-margin"
                                            ng-click="vm.voltar()" title="Voltar">
                                        Voltar
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                            ng-click="vm.save()" title="Salvar" type="button">
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-mega-footer__bottom-section" ng-include="'view/template/footer.html'"></div>
    </div>
</div>
