<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="page-content">
        <div class="mdl-grid portfolio-copy">
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <div class="mdl-cell mdl-cell--12-col">
                    <h4 id="introduction">Consulta Mapa de Carga</h4>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-card">
                <div class="load-map-container">
                    <div class="load-map-header">
                        <div class="load-map-header-container">
                            <div class="load-map-seller">
                                <div>
                                    <div>
                                        <md-autocomplete ng-model="vm.filter.loadMapId" id="loadMapNumberId" flex
                                                         class="md-block"
                                                         md-selected-item="vm.filter.loadMapNumber"
                                                         md-search-text="vm.textSearch"
                                                         md-items="report in vm.autocompleteSearcher(vm.textSearch)"
                                                         md-item-text="report.id.toString()"
                                                         md-delay="300"
                                                         md-floating-label="Número Mapa de Cargas:">
                                            <div layout="row" class="item" layout-align="start center">
                                                <span md-highlight-text="vm.textSearch">{{report.id}}</span>
                                            </div>
                                        </md-autocomplete>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div class="mdl-textfield" flex-sm="50" flex="50" flex-xs="50">
                                        <label class="mdl-textfield__label">Período:</label>
                                        <input id="startDateSellFilterOrder" data-ui-date-format="dd/mm/yy"
                                               autocomplete="off" data-ui-date="vm.timezone.dateOptions"
                                               ng-model="vm.filter.dataInicial" class="mdl-textfield__input"
                                               type="text">
                                    </div>
                                    <div class="mdl-textfield" flex-sm="50" flex="50" flex-xs="50">
                                        <label class="mdl-textfield__label">até</label>
                                        <input id="endDateSellFilterOrder" ui-date-format="dd/mm/yy"
                                               autocomplete="off" data-ui-date="vm.timezone.dateOptions"
                                               ng-model="vm.filter.dataFinal" class="mdl-textfield__input"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="load-map-routes">
                                <label class="load-map-header-title">Rotas Vendedor</label>
                                <div class="load-map-lookup">
                                    <div>Rota:</div>
                                    <div class="load-map-select">
                                        <select class="mdl-textfield__input" ng-model="vm.route"
                                                ng-options="opt as opt.id + ' - ' + opt.descricao disable when vm.hasRouteAdded(opt) for opt in vm.routes">
                                            <option value="">Todos</option>
                                        </select>
                                    </div>
                                    <div class="fa fa-plus fa-lg cursor_pointer" aria-hidden="true"
                                         title="Inserir Rotas" ng-click="vm.addRoute()"></div>
                                </div>
                                <div class="load-map-lookup-content">
                                    <div class="load-map-lookup-content">
                                        <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Código</th>
                                                <th class="mdl-data-table__cell--non-numeric">Nome</th>
                                                <th class="mdl-data-table__cell--non-numeric">Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="route in vm.selectedRoutes track by $index">
                                                <td class="text-center">{{route.id}}</td>
                                                <td class="mdl-data-table__cell--non-numeric">{{route.descricao}}</td>
                                                <td class="mdl-data-table__cell--non-numeric">
                                                    <button id="btnRemoveSelectedRoute" ng-click="vm.removeRoute(route)"
                                                            class="mdl-button mdl-js-button mdl-button--icon"
                                                            title="Excluir rota">
                                                        <em class="material-icons">delete</em>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr ng-if="vm.selectedRoutes.length == 0">
                                                <td class="mdl-data-table__cell--non-numeric text-center" colspan="3">
                                                    Nenhum registro selecionado!
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div>
                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab right"
                                            ng-click="vm.search()" title="Pesquisar">
                                        <em class="material-icons">search</em>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell--6-col mdl-padding-15 mdl-cell--3-offset">


                        <table st-table="vm.loadMapList" st-pipe="vm.callServer"
                               class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                                <th class="text-center">Num. Mapa Carga</th>
                                <th class="text-center">Data criação</th>
                                <th class="mdl-data-table__cell--non-numeric">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="loadMap in vm.loadMapList">
                                <td class="text-center">{{loadMap.id}}</td>
                                <td class="text-center">{{loadMap.dtInclusaoMapaCarga | date: 'dd/MM/yyyy'}}</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    <button id="btnRemoveLoadMap" ng-click="vm.removeLoadMap(loadMap.id)"
                                            class="mdl-button mdl-js-button mdl-button--icon"
                                            title="Excluir mapa de carga">
                                        <em class="material-icons">delete</em>
                                    </button>
                                    <button id="btnEditLoadMap" ng-click="vm.editLoadMap(loadMap.id)"
                                            class="mdl-button mdl-js-button mdl-button--icon"
                                            title="Editar mapa de carga">
                                        <em class="material-icons">edit</em>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-if="vm.loadMapList.length == 0">
                                <td class="mdl-data-table__cell--non-numeric text-center" colspan="3">
                                    Nenhum registro selecionado!
                                </td>
                            </tr>
                            <tr ng-if="vm.loadMapList.length > 0">
                                <td colspan="11" class="text-center">
                                    <div class="mdl-cell mdl-cell--12-col text-center" st-pagination=""
                                         st-items-by-page="10" st-displayed-pages="3"
                                         st-template="view/pagination/pagination.html">
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
