<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer"
	data-ng-init="vm.mask()">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="mdl-cell mdl-cell--12-col">
					<h4 id="introduction">Cadastro de Produto</h4>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
					<div class="mdl-card__supporting-text">
						* Campos obrigatórios!
						<form name="form" novalidate>

							<div id="codigoDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
									<input data-ng-model="vm.manterProduto.idCodProduto"
										value="{{vm.manterProduto.id}}" class="mdl-textfield__input"
										type="text" id="codigo" data-ng-disabled="true" /> <label
										class="mdl-textfield__label" for="codigo">Código:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterProduto.nome"
										data-ng-required="true" value="{{vm.manterProduto.nome}}"
										class="mdl-textfield__input" type="text" maxlength="50"
										id="nome" /> <label class="mdl-textfield__label" for="nome">Descrição*:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
									<input data-ng-model="vm.manterProduto.dataAlteracaoFormatada"
										data-ng-disabled="true"
										value="{{vm.manterProduto.dataAlteracaoFormatada}}"
										class="mdl-textfield__input" type="text" id="dataAlteracao" />
									<label class="mdl-textfield__label" for="dataAlteracao">Data
										Alteração:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
									<select id="situacao" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterProduto.flExcluido"
										data-ng-options="situacao as situacao for situacao in vm.situacoes">
									</select> <label class="mdl-select__label" for="situacao">Situação*:</label>
								</div>
							</div>

							<div id="gruposDiv">
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--4-col">
									<select id="grupo" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterProduto.grupoProduto.id"
										data-ng-options="grupo.id as grupo.descricao for grupo in vm.grupos">
										<option value=""></option>
									</select> <label class="mdl-select__label" for="grupo">Grupo*:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--4-col">
									<select id="unidade" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterProduto.tipoUnidade"
										data-ng-options="unidade for unidade in vm.unidades">
										<option value=""></option>
									</select> <label class="mdl-select__label" for="unidade">Unidade*:</label>
								</div>
							</div>

							<div id="cfDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterProduto.cf"
										class="mdl-textfield__input" type="text" maxlength="45"
										onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));"
										id="cf" /> <label class="mdl-textfield__label" for="cf">CF:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--4-col">
									<select id="tipoTroca" class="mdl-select__input"
										data-ng-model="vm.manterProduto.tipoTroca"
										data-ng-options="troca.id as troca.descricao for troca in vm.tiposTroca">
										<option value=""></option>
									</select> <label class="mdl-select__label" for="tipoTroca">Troca:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterProduto.peso"
										data-ng-required="true" class="mdl-textfield__input"
										type="number" id="peso" /> <label
										class="mdl-textfield__label" for="peso">Peso*:</label>
								</div>
							</div>

							<div id="fornecedorDiv">
								<md-autocomplete flex
						            md-selected-item="vm.manterProduto.fornecedor"
						            md-search-text="vm.fornecedorTextSearch"
						            md-items="fornecedor in vm.fornecedorSearch(vm.fornecedorTextSearch)"
						            md-item-text="fornecedor.nome"
						            md-delay="300"
						            md-floating-label="Fornecedor:">
						          <div layout="row" class="item" layout-align="start center">
						            <span md-highlight-text="vm.fornecedorTextSearch">{{fornecedor.id}} - {{fornecedor.nome}}</span>  
						          </div>
						        </md-autocomplete>
							</div>

							<div id="qtdeCaixaDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterProduto.quantidadeEstoqueAtual"
										class="mdl-textfield__input" type="number" id="qtdeCaixa" />
									<label class="mdl-textfield__label" for="qtdeCaixa">Qtde
										Caixa:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--4-col">
									<select id="vendaLiberada" class="mdl-select__input"
										data-ng-model="vm.manterProduto.flgLiberadoVenda">
										<option value=""></option>
										<option value="S">Sim</option>
										<option value="N">Não</option>
									</select> <label class="mdl-select__label" for="vendaLiberada">Venda
										liberada?</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
									<input data-ng-model="vm.manterProduto.st"
										value="{{vm.manterProduto.st}}" class="mdl-textfield__input"
										type="text" id="st" maxlength="5" /> <label class="mdl-textfield__label"
										for="st">ST:</label>
								</div>
							</div>

							<div id="codigoBarrasDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--10-col">
									<input class="mdl-textfield__input" type="text"
										id="codigoBarras" maxlength="200"
										data-ng-model="vm.manterProduto.codigoBarras"
										onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));" />
									<label class="mdl-textfield__label" for="codigoBarras">Código
										de Barras:</label>
								</div>
							</div>

							<div id="impostoDiv">

								<div class="mdl-cell mdl-cell--4-col">
									<h4 id="introduction">Impostos</h4>
									<button
										class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
										data-ng-click="vm.novoImposto()" title="Incluir Imposto">
										<em class="material-icons">add</em>
									</button>
								</div>
								<hr />

								<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
									<thead>
										<tr>
											<th class="mdl-data-table__cell--non-numeric">UF</th>
											<th class="mdl-data-table__cell--non-numeric">ICMS
												Entrada</th>
											<th class="mdl-data-table__cell--non-numeric">ICMS Saída</th>
											<th class="mdl-data-table__cell--non-numeric">MVA</th>
											<th class="mdl-data-table__cell--non-numeric">Possui ST</th>
											<th class="mdl-data-table__cell--non-numeric">Percentual
												Opt. Simples</th>
											<th class="mdl-data-table__cell--non-numeric">Editar</th>
											<th class="mdl-data-table__cell--non-numeric">Excluir</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="imposto in vm.manterProduto.impostos track by $index">
											<td class="mdl-data-table__cell--non-numeric">{{imposto.uf}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{imposto.icmsEntrada}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{imposto.icmsSaida}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{imposto.mva}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{imposto.flgPossuiSt}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{imposto.percentualSimples}}</td>
											<td class="mdl-data-table__cell--non-numeric">
												<button id="btEditarImposto"
													data-ng-click="vm.toEditImposto(imposto)"
													class="mdl-button mdl-js-button mdl-button--icon"
													title="Editar">
													<em class="material-icons">edit</em>
												</button>
											</td>
											<td class="mdl-data-table__cell--non-numeric">
												<button id="btExcluirImposto"
													data-ng-click="vm.excluirImposto($index)"
													class="mdl-button mdl-js-button mdl-button--icon"
													title="Excluir">
													<em class="material-icons">delete</em>
												</button>
											</td>
										</tr>
										<tr
											data-ng-if="!vm.manterProduto.impostos || vm.manterProduto.impostos.length == 0">
											<td class="mdl-data-table__cell--non-numeric" colspan="8">Nenhum
												registro econtrado!</td>
										</tr>
									</tbody>
								</table>

							</div>

							<div id="rotaDiv">

								<div class="mdl-cell mdl-cell--12-col">
									<h4 id="introduction">Rotas</h4>
								</div>
								<div class="mdl-cell mdl-cell--12-col">
									<div
										class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--4-col">
										<select id="rotaAdd" class="mdl-select__input"
											data-ng-model="vm.rotaSelecionada"
											data-ng-options="rota as (rota.id + ' - ' + rota.descricao) for rota in vm.rotas">
											<option value=""></option>
										</select> <label class="mdl-select__label" for="rotaAdd">Rota:</label>
									</div>
									<button
										class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
										data-ng-disabled="!vm.rotaSelecionada.id"
										data-ng-click="vm.salvaRota()" title="Incluir Rota">
										<em class="material-icons">add</em>
									</button>
								</div>

								<hr />

								<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
									<thead>
										<tr>
											<th class="mdl-data-table__cell--non-numeric">Rota</th>
											<th class="mdl-data-table__cell--non-numeric">Cidade</th>
											<th class="mdl-data-table__cell--non-numeric">Excluir</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="pprota in vm.manterProduto.rotas track by $index">
											<td class="mdl-data-table__cell--non-numeric">{{pprota.rota.id}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{pprota.rota.descricao}}</td>
											<td class="mdl-data-table__cell--non-numeric">
												<button id="btExcluirRota"
													data-ng-click="vm.excluirRota($index)"
													class="mdl-button mdl-js-button mdl-button--icon"
													title="Excluir">
													<em class="material-icons">delete</em>
												</button>
											</td>
										</tr>
										<tr
											data-ng-if="!vm.manterProduto.rotas || vm.manterProduto.rotas.length == 0">
											<td class="mdl-data-table__cell--non-numeric" colspan="3">Nenhum
												registro econtrado!</td>
										</tr>
									</tbody>
								</table>

							</div>
							<br />

							<div id="botoesDiv">
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-disabled="form.$invalid" data-ng-click="vm.salvar()"
									title="Salvar">Salvar</button>
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-click="vm.voltar()" title="Voltar">Voltar</button>
							</div>

						</form>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>

<dialog id="impostoDialog" class="mdl-dialog width-full">
<form name="impostoForm" novalidate>
	<h4 class="mdl-dialog__title">Impostos</h4>
	<div class="mdl-dialog__content">
		<div class="mdl-cell mdl-cell--12-col">
			<label>Nome Produto:</label> {{vm.manterProduto.nome}}
		</div>

		<div
			class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
			<select id="uf" class="mdl-select__input" data-ng-required="true"
				data-ng-model="vm.impostoSelecionado.uf"
				data-ng-options="uf.sigla as uf.sigla for uf in vm.ufs">
			</select> <label class="mdl-select__label" for="uf">UF*:</label>
		</div>
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
			<input data-ng-model="vm.impostoSelecionado.icmsEntrada"
				data-ng-required="true"
				onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));"
				value="{{vm.impostoSelecionado.icmsEntrada}}"
				class="mdl-textfield__input" type="text" id="icmsEntrada" /> <label
				class="mdl-textfield__label" for="icmsEntrada">ICMS
				Entrada*:</label>
		</div>
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
			<input data-ng-model="vm.impostoSelecionado.icmsSaida"
				data-ng-required="true"
				onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));"
				value="{{vm.impostoSelecionado.icmsSaida}}"
				class="mdl-textfield__input" type="text" id="icmsSaida" /> <label
				class="mdl-textfield__label" for="icmsSaida">ICMS Saída*:</label>
		</div>
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
			<input data-ng-model="vm.impostoSelecionado.mva"
				data-ng-required="true"
				onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));"
				value="{{vm.impostoSelecionado.mva}}" class="mdl-textfield__input"
				type="text" id="mva" /> <label class="mdl-textfield__label"
				for="mva">MVA*:</label>
		</div>
		<div
			class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
			<select id="flgPossuiSt" class="mdl-select__input"
				data-ng-required="true"
				data-ng-model="vm.impostoSelecionado.flgPossuiSt">
				<option value=""></option>
				<option value="S">Sim</option>
				<option value="N">Não</option>
			</select> <label class="mdl-select__label" for="flgPossuiSt">Possui
				ST*:</label>
		</div>
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
			<input data-ng-model="vm.impostoSelecionado.percentualSimples"
				data-ng-required="true"
				onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));"
				value="{{vm.impostoSelecionado.percentualSimples}}"
				class="mdl-textfield__input" type="text" id="percentualSimples" />
			<label class="mdl-textfield__label" for="percentualSimples">Percentual
				Opt. Simples*:</label>
		</div>
	</div>
	<div class="mdl-dialog__actions">
		<button type="button" class="mdl-button" title="Salvar"
			data-ng-disabled="impostoForm.$invalid"
			data-ng-click="vm.salvaImposto()">Salvar</button>
		<button type="button" title="Voltar" class="mdl-button close"
			data-ng-click="vm.closeDialogImposto()">Voltar</button>
	</div>
</form>
</dialog>