<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer"
	data-ng-init="vm.mask()">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="mdl-cell mdl-cell--12-col">
					<h4 id="introduction">Cadastro de Transportador</h4>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
					<div class="mdl-card__supporting-text">
						* Campos obrigatórios!
						<form name="form" novalidate>

							<div id="nomeDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
									<input data-ng-model="vm.manterTransportador.obj.nome"
										data-ng-required="true" value="{{vm.manterTransportador.obj.nome}}"
										class="mdl-textfield__input" type="text" maxlength="100"
										id="nome" /> <label class="mdl-textfield__label" for="nome">Nome*:</label>
								</div>
							</div>

							<div id="cpfCnpjDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterTransportador.obj.cnpjcpf"
										data-ng-required="true" value="{{vm.manterTransportador.obj.cnpjcpf}}"
										class="mdl-textfield__input" type="text" maxlength="20"
										id="cnpjcpf" /> <label class="mdl-textfield__label" for="cnpjcpf">CNPJ/CPF*:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
									<input data-ng-model="vm.manterTransportador.obj.inscricao"
										data-ng-required="true" value="{{vm.manterTransportador.obj.inscricao}}"
										class="mdl-textfield__input" type="text" maxlength="20"
										id="inscricao" /> <label class="mdl-textfield__label" for="inscricao">Inscriçao Estadual*:</label>
								</div>
							</div>
							
							<div id="enderecoDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
									<input data-ng-model="vm.manterTransportador.obj.endereco"
										data-ng-required="true" value="{{vm.manterTransportador.obj.endereco}}"
										class="mdl-textfield__input" type="text" maxlength="100"
										id="endereco" /> <label class="mdl-textfield__label" for="endereco">Endereço*:</label>
								</div>
							</div>
							
							<div id="bairroDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--7-col">
									<input data-ng-model="vm.manterTransportador.obj.bairro"
										value="{{vm.manterTransportador.obj.bairro}}"
										class="mdl-textfield__input" type="text" maxlength="50"
										id="bairro" /> <label class="mdl-textfield__label" for="bairro">Bairro:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
									<input data-ng-model="vm.manterTransportador.obj.cep"
										data-ng-required="true" value="{{vm.manterTransportador.obj.cep}}"
										class="mdl-textfield__input" type="text" maxlength="100"
										id="cep" /> <label class="mdl-textfield__label" for="cep">CEP:</label>
								</div>
							</div>
							
							<div id="ufDiv">
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--1-col">
									<select id="uf" class="mdl-select__input"
										data-ng-model="vm.manterTransportador.obj.cidade.uf.id"
										data-ng-options="uf.id as uf.sigla for uf in vm.manterTransportador.ufs"
										data-ng-change="vm.cidades()">
										<option value=""></option>
									</select> <label class="mdl-select__label" for="uf">UF:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--8-col">
									<select id="cidade" class="mdl-select__input"
										data-ng-model="vm.manterTransportador.obj.cidade.id"
										data-ng-options="cidade.id as cidade.nome for cidade in vm.manterTransportador.cidades"
										data-ng-change="vm.reset()">
										<option value=""></option>
									</select> <label class="mdl-select__label" for="cidade">Cidade:</label>
								</div>
							</div>
							
							<div id="ibgeDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterTransportador.obj.ibge"
										value="{{vm.manterTransportador.obj.ibge}}"
										class="mdl-textfield__input" type="text" maxlength="7"
										id="ibge" /> <label class="mdl-textfield__label" for="ibge">IBGE:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterTransportador.obj.motorista"
										data-ng-required="true" value="{{vm.manterTransportador.obj.motorista}}"
										class="mdl-textfield__input" type="text" maxlength="100"
										id="motorista" /> <label class="mdl-textfield__label" for="motorista">Motorista:</label>
								</div>
							</div>
							
							<div id="ufDiv">
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--1-col">
									<select id="ufPlaca" class="mdl-select__input"
										data-ng-model="vm.manterTransportador.obj.uf.id"
										data-ng-options="uf.id as uf.sigla for uf in vm.manterTransportador.ufs">
										<option value=""></option>
									</select> <label class="mdl-select__label" for="ufPlaca">Estado Placa:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterTransportador.obj.placa"
										data-ng-required="true" value="{{vm.manterTransportador.obj.placa}}"
										class="mdl-textfield__input" type="text" maxlength="8"
										id="placa" /> <label class="mdl-textfield__label" for="placa">Placa:</label>
								</div>
							</div>
							
							<div id="botoesDiv">
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-disabled="form.$invalid" data-ng-click="vm.salvar()"
									title="Salvar">Salvar</button>
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-click="vm.voltar()" title="Voltar">Voltar</button>
							</div>

						</form>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>