<div class="mdl-cell mdl-cell--12-col text-center" ng-if="pages.length >= 2">
    <ul class="pagination2 border">
        <li>
            <a href="javascript:void(0)" ng-click="selectPage(1)" title="Primeira página">
                «
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" ng-click="selectPage(currentPage - 1)" title="Página anterior">
                <span>&#60;</span>
            </a>
        </li>
        <li>
            <a class="active" href="javascript:void(0)">
                <page-select></page-select>
            </a>
        </li>
        <li><a href="javascript:void(0)"> de {{numPages}}</a></li>
        <li>
            <a href="javascript:void(0)" ng-click="selectPage(currentPage + 1)" title="Próxima página">
                <span>&#62;</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" ng-click="selectPage(numPages)" title="Página final">
                »
            </a>
        </li>
    </ul>
</div>
