<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer"
	data-ng-init="vm.mask()">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="mdl-cell mdl-cell--12-col">
					<h4 id="introduction">Cadastro de Cliente</h4>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
					<div class="mdl-card__supporting-text">
						* Campos obrigatórios!
						<form name="form" novalidate>

							<div id="codigoDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
									<input data-ng-model="vm.manterCliente.idCodPessoa"
										value="{{vm.manterCliente.idCodPessoa}}" class="mdl-textfield__input"
										type="text" id="codigo" data-ng-disabled="true" /> <label
										class="mdl-textfield__label" for="codigo">Código:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterCliente.nome"
										data-ng-required="true" value="{{vm.manterCliente.nome}}"
										class="mdl-textfield__input" type="text" maxlength="100"
										id="nome" /> <label class="mdl-textfield__label" for="nome">Nome*:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
									<input data-ng-model="vm.manterCliente.dataAlteracaoFormatada"
										data-ng-disabled="true"
										value="{{vm.manterCliente.dataAlteracaoFormatada}}"
										class="mdl-textfield__input" type="text" id="dataAlteracao" />
									<label class="mdl-textfield__label" for="dataAlteracao">Data
										Alteração:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
									<select id="situacao" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterCliente.flExcluido"
										data-ng-options="situacao as situacao for situacao in vm.situacoes">
									</select> <label class="mdl-select__label" for="situacao">Situação*:</label>
								</div>
							</div>

							<div id="nomeFantasiaDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
									<input data-ng-model="vm.manterCliente.nomeFantasia"
										data-ng-required="true"
										value="{{vm.manterCliente.nomeFantasia}}"
										class="mdl-textfield__input" type="text" maxlength="100"
										id="nomeFantasia" /> <label class="mdl-textfield__label"
										for="nomeFantasia">Nome Fantasia*:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
									<input data-ng-model="vm.manterCliente.cnpj"
										data-ng-required="true" value="{{vm.manterCliente.cnpj}}"
										class="mdl-textfield__input" type="text" id="cnpj" /> <label
										class="mdl-textfield__label" for="cnpj">CNPJ*:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--2-col">
									<select id="regime" class="mdl-select__input"
										data-ng-model="vm.manterCliente.idRegimeTributario"
										data-ng-options="regime.id as regime.descricao for regime in vm.regimesTributarios"
										data-ng-change="vm.regimeTributarioChange()">
									</select> <label class="mdl-select__label" for="regime">Regime Tributário:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
									<input data-ng-model="vm.manterCliente.inscricaoEstadual"
										data-ng-required="!vm.inscricaoEstadualIsento"
										data-ng-disabled="vm.inscricaoEstadualIsento"
										value="{{vm.manterCliente.inscricaoEstadual}}"
										class="mdl-textfield__input" type="text" maxlength="20"
										id="inscricaoEstadual" /> <label class="mdl-textfield__label"
										for="inscricaoEstadual">Inscrição Estadual<span data-ng-if="vm.inscricaoEstadualIsento"> (ISENTO)</span><span data-ng-if="!vm.inscricaoEstadualIsento">*</span>:</label>
								</div>
							</div>

							<div id="vendedorDiv">
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--3-col">
									<select id="vendedor" class="mdl-select__input"
										data-ng-required="true"
										data-ng-disabled="vm.usuario.idVendedor"
										data-ng-model="vm.manterCliente.idVendedorRepresentante"
										data-ng-options="vendedor.id as vendedor.nome for vendedor in vm.vendedores"
										data-ng-change="vm.rotasByVendedor()">
										<option value=""></option>
									</select> <label class="mdl-select__label" for="vendedor">Vendedor*:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--3-col">
									<select id="rota" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterCliente.idRota"
										data-ng-options="rota.id as (rota.id + ' - ' + rota.descricao) for rota in vm.rotas"
										data-ng-change="vm.rotasByVendedor()">
										<option value=""></option>
									</select> <label class="mdl-select__label" for="rota">Rota*:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--3-col">
									<select id="tipoEmpresa" class="mdl-select__input"
										data-ng-model="vm.manterCliente.idTipoEmpresa">
										<option value=""></option>
										<option value="1">1</option>
										<option value="2">2</option>
									</select> <label class="mdl-select__label" for="tipoEmpresa">Tipo
										Empresa:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input id="email" data-ng-model="vm.manterCliente.email"
										class="mdl-textfield__input" type="email" maxlength="100"
										value="{{vm.manterCliente.email}}" /> <label
										class="mdl-textfield__label" for="email">E-mail:</label>
								</div>
							</div>

							<div id="enderecosDiv">

								<div class="mdl-cell mdl-cell--4-col">
									<h4 id="introduction">Endereços</h4>
									<button
										class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
										data-ng-click="vm.novoEndereco()" title="Incluir Endereço">
										<em class="material-icons">add</em>
									</button>
								</div>
								<hr />

								<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
									<thead>
										<tr>
											<th class="mdl-data-table__cell--non-numeric">Tipo</th>
											<th
												class="mdl-data-table__cell--non-numeric width-column-decription-max">Logradouro</th>
											<th class="mdl-data-table__cell--non-numeric">Número</th>
											<th
												class="mdl-data-table__cell--non-numeric width-column-decription-max">Bairro</th>
											<th class="mdl-data-table__cell--non-numeric">Cep</th>
											<th
												class="mdl-data-table__cell--non-numeric width-column-decription-max">Complemento</th>
											<th
												class="mdl-data-table__cell--non-numeric width-column-decription-max">Cidade</th>
											<th class="mdl-data-table__cell--non-numeric">UF</th>
											<th class="mdl-data-table__cell--non-numeric">IBGE</th>
											<th class="mdl-data-table__cell--non-numeric">Telefone</th>
											<th class="mdl-data-table__cell--non-numeric">Editar</th>
											<th class="mdl-data-table__cell--non-numeric">Excluir</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="endereco in vm.manterCliente.enderecos track by $index">
											<td class="mdl-data-table__cell--non-numeric">{{endereco.tipoEndereco.nome}}</td>
											<td
												class="mdl-data-table__cell--non-numeric width-column-decription-max">{{endereco.logradouro}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{endereco.numero}}</td>
											<td
												class="mdl-data-table__cell--non-numeric width-column-decription-max">{{endereco.bairro}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{endereco.cep}}</td>
											<td
												class="mdl-data-table__cell--non-numeric width-column-decription-max">{{endereco.complemento}}</td>
											<td
												class="mdl-data-table__cell--non-numeric width-column-decription-max">{{endereco.cidade.nome}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{endereco.cidade.uf.nome}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{endereco.cidade.idCidadeIbge}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{endereco.telefone}}</td>

											<td class="mdl-data-table__cell--non-numeric">
												<button id="btEditarEndereco"
													data-ng-click="vm.toEditEndereco(endereco)"
													class="mdl-button mdl-js-button mdl-button--icon"
													title="Editar">
													<em class="material-icons">edit</em>
												</button>
											</td>
											<td class="mdl-data-table__cell--non-numeric">
												<button id="btExcluirEndereco"
													data-ng-click="vm.excluir($index)"
													class="mdl-button mdl-js-button mdl-button--icon"
													title="Excluir">
													<em class="material-icons">delete</em>
												</button>
											</td>
										</tr>
										<tr
											data-ng-if="!vm.manterCliente.enderecos || vm.manterCliente.enderecos.length == 0">
											<td class="mdl-data-table__cell--non-numeric" colspan="12">Nenhum
												registro econtrado!</td>
										</tr>
									</tbody>
								</table>

							</div>

							<div id="formaPagamentoDiv">
								<h4 id="introduction">Dados de pagamento</h4>
								<hr />
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--6-col">
									<select id="formaPagamento" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterCliente.formaPagamento.id"
										data-ng-options="formaPagamento.id as (formaPagamento.descricao + ' - ' + formaPagamento.prazo) for formaPagamento in vm.formasPagamento"
										data-ng-change="vm.formaPagamentoChange()">
										<option value=""></option>
									</select> <label class="mdl-select__label" for="formaPagamento">Forma
										de Pagamento*:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
									<input data-ng-model="vm.manterCliente.prazo"
										class="mdl-textfield__input" type="number" id="prazo" readonly="readonly" /> <label
										class="mdl-textfield__label" for="prazo">Prazo:</label>
								</div>
							</div>

							<div id="dadosAdicionaisDiv">
								<h4 id="introduction">Dados de adicionais</h4>
								<hr />
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterCliente.nomeContato"
										value="{{vm.manterCliente.nomeContato}}"
										class="mdl-textfield__input" type="text" maxlength="80"
										id="nomeContato" /> <label class="mdl-textfield__label"
										for="nomeContato">Contato:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterCliente.percDescPadrao"
										class="mdl-textfield__input" type="number" id="percDescPadrao" />
									<label class="mdl-textfield__label" for="percDescPadrao">Percentual
										Desc. Padrão:</label>
								</div>
								<!-- <div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--6-col">
									<select id="flgOptanteSimples" class="mdl-select__input"
										data-ng-model="vm.manterCliente.flgOptanteSimples">
										<option value="S">Sim</option>
										<option value="N">Não</option>
									</select> <label class="mdl-select__label" for="formaPagamento">Optante
										Simples:</label>
								</div> -->
								<div
									class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
									<textarea class="mdl-textfield__input" rows="3" id="observacao"
										data-ng-model="vm.manterCliente.observacao">{{vm.manterCliente.observacao}}</textarea>
									<label class="mdl-select__label" for="observacao">Observação:</label>
								</div>
							</div>

							<div id="botoesDiv">
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-disabled="form.$invalid" data-ng-click="vm.salvar()"
									title="Salvar">Salvar</button>
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-click="vm.voltar()" title="Voltar">Voltar</button>
							</div>

						</form>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>

<dialog id="incluirDialog" class="mdl-dialog width-full">
<form name="clienteForm" novalidate>
	<h4 class="mdl-dialog__title">Endereços</h4>
	<div class="mdl-dialog__content">
		<div class="mdl-cell mdl-cell--12-col">
			<label>Nome Cliente:</label> {{vm.manterCliente.nome}}
		</div>

		<div
			class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
			<select id="tipoEndereco" class="mdl-select__input"
				data-ng-required="true"
				data-ng-model="vm.enderecoSelecionado.tipoEndereco.id"
				data-ng-options="tipo.id as tipo.nome for tipo in vm.tiposEndereco">
			</select> <label class="mdl-select__label" for="tipoEndereco">Tipo
				Endereco*:</label>
		</div>
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
			<input data-ng-model="vm.enderecoSelecionado.logradouro"
				data-ng-required="true"
				value="{{vm.enderecoSelecionado.logradouro}}"
				class="mdl-textfield__input" type="text" id="logradouro" /> <label
				class="mdl-textfield__label" for="logradouro">Logradouro*:</label>
		</div>
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
			<input data-ng-model="vm.enderecoSelecionado.numero"
				class="mdl-textfield__input" type="number" id="numero" /> <label
				class="mdl-textfield__label" for="numero">Número:</label>
		</div>
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
			<input data-ng-model="vm.enderecoSelecionado.bairro"
				value="{{vm.enderecoSelecionado.bairro}}"
				class="mdl-textfield__input" type="text" id="bairro" /> <label
				class="mdl-textfield__label" for="bairro">Bairro:</label>
		</div>
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
			<input data-ng-model="vm.enderecoSelecionado.complemento"
				value="{{vm.enderecoSelecionado.complemento}}"
				class="mdl-textfield__input" type="text" id="complemento" /> <label
				class="mdl-textfield__label" for="complemento">Complemento:</label>
		</div>

		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
			<input data-ng-model="vm.enderecoSelecionado.cep"
				value="{{vm.enderecoSelecionado.cep}}" class="mdl-textfield__input"
				type="text" id="cep" /> <label class="mdl-textfield__label"
				for="cep">Cep:</label>
		</div>
		<div
			class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--1-col">
			<select id="uf" class="mdl-select__input" data-ng-required="true"
				data-ng-model="vm.enderecoSelecionado.cidade.uf.id"
				data-ng-options="uf.id as uf.sigla for uf in vm.ufs"
				data-ng-change="vm.carregaCidades()">
				<option value=""></option>
			</select> <label class="mdl-select__label" for="uf">UF*:</label>
		</div>
		<div
			class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--1-col">
			<select id="uf" class="mdl-select__input" data-ng-required="true"
				data-ng-model="vm.enderecoSelecionado.cidade.id"
				data-ng-options="cidade.id as cidade.nome for cidade in vm.cidades">
				<option value=""></option>
			</select> <label class="mdl-select__label" for="uf">Cidade*:</label>
		</div>
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
			<input data-ng-model="vm.enderecoSelecionado.telefone"
				pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"
				value="{{vm.enderecoSelecionado.telefone}}"
				class="mdl-textfield__input" type="tel" id="telefone" /> <label
				class="mdl-textfield__label" for="telefone">Telefone:</label>
		</div>
	</div>
	<div class="mdl-dialog__actions">
		<button type="button" class="mdl-button" title="Salvar"
			data-ng-disabled="clienteForm.$invalid"
			data-ng-click="vm.salvarEndereco()">Salvar</button>
		<button type="button" title="Voltar" class="mdl-button close"
			data-ng-click="vm.closeDialog()">Voltar</button>
	</div>
</form>
</dialog>