<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer"
	data-ng-init="vm.mask()">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="docs-text-styling docs-readme">
					<div class="mdl-cell mdl-cell--12-col">
						<h4 id="introduction">Lista de Clientes</h4>
					</div>
					<div class="mdl-cell mdl-cell--12-col">
						<form name="form">

							<div
								class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
								<input data-ng-model="vm.manterCliente.filtro.id"
									value="{{vm.manterCliente.filtro.id}}"
									class="mdl-textfield__input" type="text" id="codigo"
									data-ng-change="vm.reset()" /> <label
									class="mdl-textfield__label" for="codigo">Código:</label>
							</div>
							<div
								class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
								<input data-ng-model="vm.manterCliente.filtro.nome"
									value="{{vm.manterCliente.filtro.nome}}"
									class="mdl-textfield__input" type="text" id="nome"
									data-ng-change="vm.reset()" /> <label
									class="mdl-textfield__label" for="nome">Nome:</label>
							</div>
							<div
								class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
								<input data-ng-model="vm.manterCliente.filtro.nomeFantasia"
									value="{{vm.manterCliente.filtro.nomeFantasia}}"
									class="mdl-textfield__input" type="text" id="nomeFantasia"
									data-ng-change="vm.reset()" /> <label
									class="mdl-textfield__label" for="nomeFantasia">Nome
									Fantasia:</label>
							</div>

							<div
								class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
								<input data-ng-model="vm.manterCliente.filtro.cnpj"
									value="{{vm.manterCliente.filtro.cnpj}}"
									class="mdl-textfield__input" type="text" id="cnpj"
									data-ng-change="vm.reset()" /> <label
									class="mdl-textfield__label" for="cnpj">CNPJ:</label>
							</div>
							<div
								class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--4-col">
								<select id="formaPagamento" class="mdl-select__input"
									data-ng-model="vm.manterCliente.filtro.formaPagamento.id"
									data-ng-options="formaPagamento.id as (formaPagamento.descricao + ' - ' + formaPagamento.prazo) for formaPagamento in vm.manterCliente.formasPagamento"
									data-ng-change="vm.reset()">
									<option value=""></option>
								</select> <label class="mdl-select__label" for="formaPagamento">Forma
									de Pagamento:</label>
							</div>
							<div
								class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--4-col">
								<select id="vendedor" class="mdl-select__input"
									data-ng-model="vm.manterCliente.filtro.idVendedorRepresentante"
									data-ng-options="vendedor.id as vendedor.nome for vendedor in vm.manterCliente.vendedores"
									data-ng-disabled="vm.manterCliente.isVendedor == true"
									data-ng-change="vm.reset()">
									<option value=""></option>
								</select> <label class="mdl-select__label" for="vendedor">Vendedor:</label>
							</div>

							<div
								class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
								<input
									data-ng-model="vm.manterCliente.filtro.enderecoComercial.bairro"
									value="{{vm.manterCliente.filtro.enderecoComercial.bairro}}"
									class="mdl-textfield__input" type="text" id="bairro"
									data-ng-change="vm.reset()" /> <label
									class="mdl-textfield__label" for="bairro">Bairro:</label>
							</div>
							<div
								class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--1-col">
								<select id="uf" class="mdl-select__input"
									data-ng-model="vm.manterCliente.filtro.enderecoComercial.cidade.uf.id"
									data-ng-options="uf.id as uf.sigla for uf in vm.manterCliente.ufs"
									data-ng-change="vm.cidades()">
									<option value=""></option>
								</select> <label class="mdl-select__label" for="uf">UF:</label>
							</div>
							<div
								class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--5-col">
								<select id="cidade" class="mdl-select__input"
									data-ng-model="vm.manterCliente.filtro.enderecoComercial.cidade.id"
									data-ng-options="cidade.id as cidade.nome for cidade in vm.manterCliente.cidades"
									data-ng-change="vm.reset()">
									<option value=""></option>
								</select> <label class="mdl-select__label" for="cidade">Cidade:</label>
							</div>

							<div id="botoesDiv">
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
									data-ng-if="vm.loading == false" data-ng-click="vm.listar()"
									title="Pesquisar">
									<em class="material-icons">search</em>
								</button>
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
									data-ng-if="vm.loading == false" data-ng-click="vm.novo()"
									title="Incluir">
									<em class="material-icons">add</em>
								</button>
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
									data-ng-if="vm.manterCliente.lista.length > 0 && vm.loading == false"
									data-ng-click="vm.exportar()" title="Exportar">
									<em class="material-icons">backup</em>
								</button>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty right text-left"
									data-ng-if="vm.manterCliente.lista.length > 0">
									<select id="quantidadePorPagina" class="mdl-select__input"
										data-ng-model="vm.manterCliente.filtro.paginate.quantidadePorPagina"
										data-ng-change="vm.quantidadePorPagina()"
										data-ng-options="option as 'Resultados por página ' + option for option in vm.paginas">
									</select>
								</div>
							</div>
							<div id="loading" class="mdl-cell mdl-cell--12-col center">
								<div
									class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"
									data-ng-show="vm.loading == true"></div>
							</div>
						</form>
					</div>

					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
						<thead>
							<tr>
								<th class="mdl-data-table__cell--non-numeric">Código</th>
								<th
									class="mdl-data-table__cell--non-numeric width-column-decription-max">Nome</th>
								<th
									class="mdl-data-table__cell--non-numeric width-column-decription-max">Nome
									Fantasia</th>
								<th
									class="mdl-data-table__cell--non-numeric width-column-decription-max">Bairro</th>
								<th
									class="mdl-data-table__cell--non-numeric width-column-decription-max">Cidade</th>
								<th class="mdl-data-table__cell--non-numeric">CNPJ</th>
								<th class="mdl-data-table__cell--non-numeric">Prazo</th>
								<th class="mdl-data-table__cell--non-numeric">Forma Pgto</th>
								<th class="mdl-data-table__cell--non-numeric">Vendedor</th>
								<th class="mdl-data-table__cell--non-numeric">Situação</th>
								<th class="mdl-data-table__cell--non-numeric">Editar</th>
								<th class="mdl-data-table__cell--non-numeric">Excluir</th>
							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-repeat="cliente in vm.manterCliente.lista track by $index">
								<td class="mdl-data-table__cell--non-numeric">{{cliente.idCodPessoa}}</td>
								<td
									class="mdl-data-table__cell--non-numeric width-column-decription-max">{{cliente.nome}}</td>
								<td
									class="mdl-data-table__cell--non-numeric width-column-decription-max">{{cliente.nomeFantasia}}</td>
								<td
									class="mdl-data-table__cell--non-numeric width-column-decription-max">{{cliente.enderecoComercial.bairro}}</td>
								<td
									class="mdl-data-table__cell--non-numeric width-column-decription-max">{{cliente.enderecoComercial.cidade.nome}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{cliente.cnpj}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{cliente.prazo}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{cliente.formaPagamento.descricao}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{cliente.nomeRepresentante}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{cliente.flExcluido}}</td>
								<td class="mdl-data-table__cell--non-numeric">
									<button id="btEditarCliente" data-ng-click="vm.toEdit(cliente)"
										class="mdl-button mdl-js-button mdl-button--icon"
										title="Editar">
										<em class="material-icons">edit</em>
									</button>
								</td>
								<td class="mdl-data-table__cell--non-numeric">
									<button id="btExcluirCliente"
										data-ng-click="vm.seleciona(cliente)"
										class="mdl-button mdl-js-button mdl-button--icon"
										title="Excluir">
										<em class="material-icons">delete</em>
									</button>
								</td>
							</tr>
							<tr
								data-ng-if="!vm.manterCliente.lista || vm.manterCliente.lista.length == 0">
								<td class="mdl-data-table__cell--non-numeric" colspan="11">Nenhum
									registro econtrado!</td>
							</tr>
						</tbody>
					</table>

					<div class="mdl-cell mdl-cell--12-col text-center"
						data-ng-if="vm.manterCliente.lista.length > 0">
						<ul class="pagination2 border">
							<li
								data-ng-show="vm.manterCliente.filtro.paginate.paginaAtual > 0"><a
								href="javascript:void(0)" data-ng-click="vm.toPage(0)"
								title="Primeira página">«</a></li>
							<li
								data-ng-show="vm.manterCliente.filtro.paginate.paginaAtual > 0"><a
								href="javascript:void(0)"
								data-ng-click="vm.toPage(vm.manterCliente.filtro.paginate.paginaAtual - 1)"
								title="Página anterior"><span>&#60;</span></a></li>
							<li><a class="active" href="javascript:void(0)"><input
									data-ng-model="vm.page" data-ng-change="vm.selectPage()"
									data-ng-required="true"
									class="mdl-textfield__input width-paginate" type="number"
									id="paginaAtual" title="Digite o número da página" /></a></li>
							<li><a href="javascript:void(0)">de
									{{vm.manterCliente.filtro.paginate.numTotalPaginas}}</a></li>
							<li
								data-ng-show="vm.manterCliente.filtro.paginate.paginaAtual < (vm.manterCliente.filtro.paginate.numTotalPaginas-1)"><a
								href="javascript:void(0)"
								data-ng-click="vm.toPage(vm.manterCliente.filtro.paginate.paginaAtual + 1)"
								title="Próxima página"><span>&#62;</span></a></li>
							<li
								data-ng-show="vm.manterCliente.filtro.paginate.paginaAtual < (vm.manterCliente.filtro.paginate.numTotalPaginas-1)"><a
								href="javascript:void(0)"
								data-ng-click="vm.toPage(vm.manterCliente.filtro.paginate.numTotalPaginas-1)"
								title="Página final">»</a></li>
						</ul>
					</div>
					<div id="loading" class="mdl-cell mdl-cell--12-col center">
						<div
							class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center"
							data-ng-show="vm.loading == true"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>

<dialog id="deleteDialog" class="mdl-dialog width-400px">
<h4 class="mdl-dialog__title">Confirmação</h4>
<div class="mdl-dialog__content">
	<p>Deseja confirmar a exclusão do cliente
		{{vm.clienteSelecionado.nome}}?</p>
</div>
<div class="mdl-dialog__actions">
	<button type="button" class="mdl-button" data-ng-click="vm.excluir()">Sim</button>
	<button type="button" class="mdl-button close"
		data-ng-click="vm.closeDialog()">Não</button>
</div>
</dialog>