<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="docs-text-styling docs-readme">
					<div class="mdl-cell mdl-cell--12-col">
						<h4 id="introduction">Preço de Venda</h4>
						<div class="mdl-cell mdl-cell--12-col">
							<div
								class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
								<input data-ng-model="vm.manterPrecoVendaRota.filtro.nome"
									class="mdl-textfield__input" type="text" id="nome" />
								<label class="mdl-textfield__label" for="nome">Nome</label>
							</div>
							<button
								class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
								data-ng-click="vm.listar()"
								data-ng-disabled="!vm.manterPrecoVendaRota.filtro.nome || vm.loading"
								title="Pesquisar">
								<em class="material-icons">search</em>
							</button>
							<div class="mdl-select right" ng-if="vm.manterPrecoVendaRota.lista.length > 0">
								<select id="quantidadePorPagina" class="mdl-select__input"
								        ng-model="vm.manterPrecoVendaRota.filtro.paginate.quantidadePorPagina"
								        ng-change="vm.quantidadePorPagina()"
								        data-ng-options="option as 'Resultados por página ' + option for option in vm.paginas">
								</select>
							</div>

						</div>
						<div
							class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"
							data-ng-show="vm.loading == true"></div>
					</div>

					<form name="precoVendaRotaForm" novalidate>
						<div class="mdl-cell mdl-cell--12-col">
							<table st-table="rowsTable" st-safe-src="vm.manterPrecoVendaRota.lista"
								   class="mdl-data-table mdl-js-data-table mdl-shadow&#45;&#45;2dp table-100-perc">
								<!--class=" table table-striped mdl-data-table mdl-js-data-table mdl-shadow&#45;&#45;2dp table-100-perc"-->
								<thead>
									<tr>
										<th class="mdl-data-table__cell&#45;&#45;non-numeric" st-sort="idCodProduto">
											<span class="fa fa-sort"></span>
											Código</th>
										<th class="mdl-data-table__cell&#45;&#45;non-numeric" st-sort="nome">
											<span class="fa fa-sort"></span>
											Nome</th>
										<th class="mdl-data-table__cell&#45;&#45;non-numeric"
											data-ng-repeat="rota in vm.manterPrecoVendaRota.rotas"> ROTA-{{rota.id}}</th>
									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="produto in vm.manterPrecoVendaRota.lista track by $index">
										<td class="mdl-data-table__cell--non-numeric">{{produto.idCodProduto}}</td>
										<td class="mdl-data-table__cell--non-numeric">{{produto.nome}}</td>
										<td class="mdl-data-table__cell--non-numeric"
											data-ng-repeat="prota in produto.rotas"><input
											data-ng-model="prota.valorPrecoVendaProduto"
											data-ng-disabled="vm.loading" class="mdl-textfield__input"
											type="number" id="{{prota.id}}"
											data-ng-change="vm.addItensAlterados(prota)" /></td>
									</tr>
									<tr
										data-ng-if="!vm.manterPrecoVendaRota.lista || vm.manterPrecoVendaRota.lista.length == 0">
										<td class="mdl-data-table__cell--non-numeric" colspan="11">Nenhum
											registro econtrado!</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="mdl-cell mdl-cell--12-col text-center"
							data-ng-if="vm.manterPrecoVendaRota.lista.length > 0 && precoVendaRotaForm.$pristine">
							<ul class="pagination2 border">
								<li
									data-ng-show="vm.manterPrecoVendaRota.filtro.paginate.paginaAtual > 0"><a
									href="javascript:void(0)" data-ng-click="vm.toPage(0)"
									title="Primeira página">«</a></li>
								<li
									data-ng-show="vm.manterPrecoVendaRota.filtro.paginate.paginaAtual > 0"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterPrecoVendaRota.filtro.paginate.paginaAtual - 1)"
									title="Página anterior"><span>&#60;</span></a></li>
								<li><a class="active" href="javascript:void(0)"><input
										data-ng-model="vm.page" data-ng-change="vm.selectPage()"
										data-ng-required="true"
										class="mdl-textfield__input width-paginate" type="number"
										id="paginaAtual" title="Digite o número da página" /></a></li>
								<li><a href="javascript:void(0)">de
										{{vm.manterPrecoVendaRota.filtro.paginate.numTotalPaginas}}</a></li>
								<li
									data-ng-show="vm.manterPrecoVendaRota.filtro.paginate.paginaAtual < (vm.manterPrecoVendaRota.filtro.paginate.numTotalPaginas-1)"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterPrecoVendaRota.filtro.paginate.paginaAtual + 1)"
									title="Próxima página"><span>&#62;</span></a></li>
								<li
									data-ng-show="vm.manterPrecoVendaRota.filtro.paginate.paginaAtual < (vm.manterPrecoVendaRota.filtro.paginate.numTotalPaginas-1)"><a
									href="javascript:void(0)"
									data-ng-click="vm.toPage(vm.manterPrecoVendaRota.filtro.paginate.numTotalPaginas-1)"
									title="Página final">»</a></li>
							</ul>
						</div>
						<div id="loading" class="mdl-cell mdl-cell--12-col center">
							<div
								class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center"
								data-ng-show="vm.loading == true"></div>
						</div>

						<div class="mdl-dialog__actions">
							<button type="button"
								class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
								title="Salvar"
								data-ng-disabled="precoVendaRotaForm.$invalid || precoVendaRotaForm.$pristine || vm.loading"
								data-ng-click="vm.salvar()">Salvar</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>