form {
	padding: 20px;
}

.left-side {
	margin-right: 100px;
	display: inline-block;
}

.left-side div {
	display: block;
}

.left-side fieldset {
	margin: 20px 0;
}

.left-side fieldset>label {
	padding-right: 20px;
}

.right-side {
	vertical-align: top;
	display: inline-block;
}

.toolbar-section {
	width: 100%;
	margin-top: 50px;
}

.info-section {
	margin: 15px 0;
}

.info-section>* {
	display: inline-block;
	vertical-align: top;
}

.info-section table {
	margin-right: 200px;
}

.info-section ul li {
	padding: 0;
}

.table-100-perc {
	width: 100% !important;
}

.margin-top-first {
	margin-top: 80px;
}

.error-color {
	color: red;
}

.ok-color {
	color: green;
}

.width-paginate {
	width: 30px;
	font-size: 14px !important;
	border-bottom: 0px;
}

.width-column-decription-max {
	max-width: 150px !important;
	white-space: normal !important;
}

.width-column-decription-350-max {
	max-width: 350px !important;
	white-space: normal !important;
}

.width-full {
	width: 100% !important;
}

.width-400px {
	width: 400px;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.text-right {
	text-align: right !important;
}

.header-title {
	font-size: 20px;
	padding-right: 400px;
	width: 100%;
	text-align: center;
}

.mdl-select__label {
	top: 6px !important;
	color: blue !important;
	font-size: 12px;
}

.mdl-textfield__label {
	top: 6px !important;
	color: blue !important;
	font-size: 12px;
}

.cursor_pointer {
    cursor: pointer !important;
}

.meta_menus:hover {
    color: #fff;
    background-color: #cf0a0f;
    padding-left: 62px;
}

.meta_menus {
    color: #fff;
    background-color: #91070a;
    padding-left: 62px;
}