.load-map-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.load-map-header-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.load-map-header,
.load-map-header-title {
    border-bottom: 1px solid lightgray;
    margin: 5px;
    padding: 5px 10px;
}

.load-map-seller,
.load-map-routes {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.load-map-lookup {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
}

.load-map-lookup .load-map-select {
    flex: 2;
    max-width: 85%;
}

.load-map-lookup .load-map-select select,
.load-map-lookup div {
    outline: none;
}

.load-map-lookup-content {
    margin: 0 5px;
    max-height: 220px;
    overflow: auto;
}

.load-map-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.load-map-body > div {
    flex: auto;
    padding: 10px
}


