.pagination, .pagination2, .pagination3 {
	display: inline-block;
	padding: 0;
	margin: 8px 0;
}

.pagination li, .pagination2 li, .pagination3 li {
	display: inline;
}

.pagination li a, .pagination2 li a, .pagination3 li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.border li a {
	transition: background-color .3s;
	border: 1px solid #ddd;
}

.size li a {
	font-size: 22px;
}

.btnround li a {
	border-radius: 5px;
}

.hover li a {
	transition: background-color .3s;
}

.margin li a {
	margin: 0 4px;
}

.pagination3 li:first-child a {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination3 li:last-child a {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

ul.pagination2 li a.active, ul.pagination3 li a.active {
	background-color: #91070a;
	color: white;
	border: 1px solid #91070a;
}

ul
.pagination2
 
li
 
a
:hover
:not
 
(
.active
 
),
ul
.pagination3
 
li
 
a
:hover
:not

	
(
.active
 
)
{
background-color
:
 
#ddd
;


}
ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: #eee;
}

ul.breadcrumb li {
	display: inline;
}

ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

.cssHigh {
	margin-left: 0px;
}