.order-step-register,
.order-step-register .step-container {
    display: flex;
    flex: auto;
    justify-content: center;
}

.order-step-register .step-container {
    justify-content: space-around;
    padding: 25px;
}

.order-step-register .step-container .step {
    align-items: center;
    border: 2px solid #757575;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    margin-bottom: 50px;
}

.order-step-register .step-container .step svg {
    height: 60%;
    width: 50%;
    position: relative;
    top: 10px;
    padding: 10px;
}

.order-step-register .step-container .step label {
    color: black;
    font-size: 19px;
    position: relative;
    top: 40%;
    text-align: center;
}

.order-step-register .step-container .progress {
    align-self: center;
    border: 4px solid #757575;
    color: black;
    flex: auto;
    font-size: 20px;
    height: 0;
    text-align: center;
    width: 25%;
    margin-bottom: 35px;
}

.order-step-register .step-container .editing {
    background-color: #9b00007a;
    border-color: #9B0000;
    margin-bottom: 50px;
}

.order-step-register .step-container .ready {
    background-color: rgba(52, 155, 0, 0.84);
    border-color: #218a00;
    fill: white;
    margin-bottom: 50px;
}

.step-btn {
    border: none;
    background-color: transparent;
    outline: none;
}

.qt-records {
    padding-bottom: 10px;
}
