@media only screen and (max-width: 600px) {

    #pesqRapida {
        font-size: 7px;
    }

}

table:not(.ui-datepicker-calendar):not(.table) {
    display: block;
    overflow: auto;
}

h5 {
    color: black;
}

.mdl-layout__header-row-logo {
    width: 300px;
    height: 100px;
    background-image: url('../images/LogoSite.png');
    background-repeat: no-repeat;
}

.mdl-layout__header-row-clean {
    height: 30px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.mdl-obj-selected {
    background-color: #E3F2FD;
}

.mdl-break-word {
    word-break: break-word;
    white-space: pre-line;
}

.mdl-cursor-pointer {
    cursor: pointer;
}

.mdl-find-produto-unidade-siico {
    width: 330px;
}

.mdl-find-produto-consulta {
    width: 500px;
}

.mdl-radiobutton:after {
    background-color: white !important;
}

.mdl-snackbar {
    left: 35% !important;
}

.mdl-obrigatorio {
    color: #de3226;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
    display: block;
}

.mdl-separator-content {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.mdl-top-200 {
    margin-top: 200px;
}

.mdl-no-width {
    width: 100%;
}

.mdl-width-500 {
    width: 500px;
}

.mdl-width-514 {
    width: 514px;
}

.mdl-block {
    display: block;
}

.mdl-no-border {
    border-bottom: 0px;
}

.mdl-subpanel {
    padding-top: 5px !important;
}

.mdl-margin-top-35 {
    margin-top: 35px;
}

.mdl-top-25 {
    top: 9%;
}

.mdl-width-180 {
    width: 180px;
}

.mdl-width-130 {
    width: 130px;
}

.mdl-width-150 {
    width: 150px;
}

.mdl-width-250 {
    width: 250px;
}

.mdl-width-370 {
    width: 370px;
}

.ui-datepicker-div {
    top: 230px;
}

.mdl-textfield.is-disabled.is-disabled .mdl-textfield__label:not(.mdl-is-radio), .mdl-textfield__label:not(.mdl-is-radio), fieldset[disabled] .mdl-textfield .mdl-textfield__label:not(.mdl-is-radio) {
    color: blue !important;
}

.mdl-textfield__input[disabled], fieldset[disabled] .mdl-textfield .mdl-textfield__input[disabled] {
    color: #545454 !important;
}

.mdl-radio.is-disabled .mdl-radio__label, fieldset[disabled] .mdl-radio .mdl-radio__label {
    color: #545454;
}

.mdl-font-20 {
    font-size: 20px;
}

.demo-card-image.mdl-card {
    width: 210px;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.demo-card-image > .mdl-card__actions {
    height: 25px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.mdl-padding-top-18 {
    padding-top: 18px !important;
}

.mdl-padding-15 {
    padding: 15px;
}

.mdl-display-flex {
    display: inline-flex;
}

.mdl-textfield-600 {
    width: 600px !important;
}

.mdl-traco {
    border: 1px solid #E1E1E1;
    margin-bottom: 3px;
    margin-top: 3px;
}

.mdl-black {
    color: black !important;
}

.mdl-font-12 {
    font-size: 12px;
}

a {
    color: #616161;
}

.mdl-text-align-center {
    text-align: center !important;
}

.mdl-radio.is-disabled .mdl-radio__inner-circle {
    background: gray !important;
}

.mdl-radio.is-disabled .mdl-radio__outer-circle {
    border: 2px solid gray !important;
}

ul.sidebar-menu {
    margin: 0;
    padding: 0;
    max-width: 400px;
    list-style: none;
    list-style-type: none;
}

.sidebar-menu li a span {
    margin-right: 20px;
    color: #fff;
}

.sidebar-menu li a {
    background-color: #91070a;
    padding: 6px 15px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-menu li a:hover {
    background-color: #91070a;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: #fff;
}

li.have-children ul {
    padding: 0px;
}

li.have-children ul li a {
    background-color: #91070a;
    padding-left: 62px;
}

li.have-children ul li a:hover {
    color: #fff;
    background-color: #cf0a0f;
    padding-left: 62px;
}

li.have-children, li {
    position: relative;
}

.have-children span::after {
    position: absolute;
    right: 30px;
    content: "\f054";
    color: #fff;
    transition: all .5s;
}

li.active.have-children span::after {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sidebar-menu .have-children > ul {
    display: none;
}

.form-module .cta {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #666666;
    font-size: 12px;
    text-align: center;
}

.form-module .cta a {
    color: #333333;
    text-decoration: none;
}

.align--self-middle {
    align-self: center !important;
}

.table,
.table thead,
.table tbody {
    width: 100%;
}