<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer"
	data-ng-init="vm.mask()">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="mdl-cell mdl-cell--12-col">
					<h4 id="introduction">Cadastro de Vendedor</h4>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
					<div class="mdl-card__supporting-text">
						* Campos obrigatórios!
						<form name="form" novalidate>

							<div id="codigoDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
									<input data-ng-model="vm.manterVendedor.id"
										value="{{vm.manterVendedor.id}}" class="mdl-textfield__input"
										type="text" id="codigo" data-ng-disabled="true" /> <label
										class="mdl-textfield__label" for="codigo">Código:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterVendedor.nome"
										data-ng-required="true" value="{{vm.manterVendedor.nome}}"
										class="mdl-textfield__input" type="text" maxlength="80"
										id="nome" /> <label class="mdl-textfield__label" for="nome">Nome*:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
									<input data-ng-model="vm.manterVendedor.dataAlteracaoFormatada"
										data-ng-disabled="true"
										value="{{vm.manterVendedor.dataAlteracaoFormatada}}"
										class="mdl-textfield__input" type="text" id="dataAlteracao" />
									<label class="mdl-textfield__label" for="dataAlteracao">Data
										Alteração:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label mdl-cell mdl-cell--1-col">
									<select id="situacao" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterVendedor.flExcluido"
										data-ng-options="situacao as situacao for situacao in vm.situacoes">
									</select> <label class="mdl-select__label" for="situacao">Situação*:</label>
								</div>
							</div>

							<div id="tipoVendaDiv">
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--3-col">
									<select id="tipoVenda" class="mdl-select__input"
										data-ng-required="true"
										data-ng-model="vm.manterVendedor.tipoVenda"
										data-ng-options="tipo.id as tipo.descricao for tipo in vm.tiposVenda"
										data-ng-change="vm.reset()">
										<option value=""></option>
									</select> <label class="mdl-select__label" for="tipoVenda">Tipo
										de Venda*:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterVendedor.valorVendaGeral"
										data-ng-required="true" class="mdl-textfield__input"
										type="number" id="valorVendaGeral" /> <label
										class="mdl-textfield__label" for="valorVendaGeral">Valor
										Venda Geral*:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
									<input data-ng-model="vm.manterVendedor.percentualTroca"
										data-ng-required="true" class="mdl-textfield__input"
										type="number" id="percentualTroca" /> <label
										class="mdl-textfield__label" for="percentualTroca">Percentual
										Troca*:</label>
								</div>
							</div>

							<div id="comissaoDiv">

								<div class="mdl-cell mdl-cell--12-col">
									<h4 id="introduction">Comissão Vendedor</h4>
								</div>
								<div class="mdl-cell mdl-cell--12-col">
									<div
										class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--4-col">
										<select id="grupoAdd" class="mdl-select__input"
											data-ng-model="vm.comissaoSelecionada.grupoProduto"
											data-ng-options="grupo as (grupo.id + ' - ' + grupo.descricao) for grupo in vm.grupos">
											<option value=""></option>
										</select> <label class="mdl-select__label" for="grupoAdd">Grupo
											Produto:</label>
									</div>
									<div
										class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
										<input data-ng-model="vm.comissaoSelecionada.percentualComissao"
											class="mdl-textfield__input"
											type="number" id="percentualComissao" /> <label
											class="mdl-textfield__label" for="percentualComissao">Percentual:</label>
									</div>
									<button
										class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
										data-ng-disabled="!vm.comissaoSelecionada.grupoProduto || !vm.comissaoSelecionada.percentualComissao"
										data-ng-click="vm.salvaComissao()" title="Incluir Comissão">
										<em class="material-icons">add</em>
									</button>
								</div>

								<hr />

								<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
									<thead>
										<tr>
											<th class="mdl-data-table__cell--non-numeric">Código</th>
											<th class="mdl-data-table__cell--non-numeric">Descrição</th>
											<th class="mdl-data-table__cell--non-numeric">Percentual</th>
											<th class="mdl-data-table__cell--non-numeric">Excluir</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="comissao in vm.manterVendedor.comissoes track by $index">
											<td class="mdl-data-table__cell--non-numeric">{{comissao.id}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{comissao.grupoProduto.descricao}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{comissao.percentualComissao}}</td>
											<td class="mdl-data-table__cell--non-numeric">
												<button id="btExcluirComissao"
													data-ng-click="vm.excluirComissao($index)"
													class="mdl-button mdl-js-button mdl-button--icon"
													title="Excluir">
													<em class="material-icons">delete</em>
												</button>
											</td>
										</tr>
										<tr
											data-ng-if="!vm.manterVendedor.comissoes || vm.manterVendedor.comissoes.length == 0">
											<td class="mdl-data-table__cell--non-numeric" colspan="4">Nenhum
												registro econtrado!</td>
										</tr>
									</tbody>
								</table>

							</div>

							<div id="rotaDiv">

								<div class="mdl-cell mdl-cell--12-col">
									<h4 id="introduction">Rotas Vendedor</h4>
								</div>
								<div class="mdl-cell mdl-cell--12-col">
									<div
										class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--4-col">
										<select id="rotaAdd" class="mdl-select__input"
											data-ng-model="vm.rotaSelecionada"
											data-ng-options="rota as (rota.id + ' - ' + rota.descricao) for rota in vm.rotas">
											<option value=""></option>
										</select> <label class="mdl-select__label" for="rotaAdd">Rota:</label>
									</div>
									<button
										class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
										data-ng-disabled="!vm.rotaSelecionada.id"
										data-ng-click="vm.salvaRota()" title="Incluir Rota">
										<em class="material-icons">add</em>
									</button>
								</div>

								<hr />

								<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
									<thead>
										<tr>
											<th class="mdl-data-table__cell--non-numeric">Rota</th>
											<th class="mdl-data-table__cell--non-numeric">Cidade</th>
											<th class="mdl-data-table__cell--non-numeric">Excluir</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="pprota in vm.manterVendedor.rotas track by $index">
											<td class="mdl-data-table__cell--non-numeric">{{pprota.rota.id}}</td>
											<td class="mdl-data-table__cell--non-numeric">{{pprota.rota.descricao}}</td>
											<td class="mdl-data-table__cell--non-numeric">
												<button id="btExcluirRota"
													data-ng-click="vm.excluirRota($index)"
													class="mdl-button mdl-js-button mdl-button--icon"
													title="Excluir">
													<em class="material-icons">delete</em>
												</button>
											</td>
										</tr>
										<tr
											data-ng-if="!vm.manterVendedor.rotas || vm.manterVendedor.rotas.length == 0">
											<td class="mdl-data-table__cell--non-numeric" colspan="3">Nenhum
												registro econtrado!</td>
										</tr>
									</tbody>
								</table>

							</div>
							<br />

							<div id="botoesDiv">
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-disabled="form.$invalid" data-ng-click="vm.salvar()"
									title="Salvar">Salvar</button>
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-click="vm.voltar()" title="Voltar">Voltar</button>
							</div>

						</form>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>