<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="docs-text-styling docs-readme">
					<div class="mdl-cell mdl-cell--12-col">
						<h4 id="introduction">Lista de Vendedores</h4>
					</div>
					<div class="mdl-cell mdl-cell--12-col">
						<form name="form">

							<div
								class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
								<input data-ng-model="vm.manterVendedor.filtro.id"
									class="mdl-textfield__input" type="number" id="codigo"
									data-ng-change="vm.reset()" /> <label
									class="mdl-textfield__label" for="codigo">Código:</label>
							</div>
							<div
								class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
								<input data-ng-model="vm.manterVendedor.filtro.nome"
									class="mdl-textfield__input" type="text" id="nome"
									data-ng-change="vm.reset()" /> <label
									class="mdl-textfield__label" for="nome">Descrição:</label>
							</div>

							<div
								class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--3-col">
								<select id="tipoVenda" class="mdl-select__input"
									data-ng-model="vm.manterVendedor.filtro.tipoVenda"
									data-ng-options="tipo.id as tipo.descricao for tipo in vm.manterVendedor.tipos"
									data-ng-change="vm.reset()">
									<option value=""></option>
								</select> <label class="mdl-select__label" for="tipoVenda">Tipo de Venda:</label>
							</div>
							<div
								class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty mdl-cell mdl-cell--3-col">
								<select id="rota" class="mdl-select__input"
									data-ng-model="vm.manterVendedor.filtro.rota.id"
									data-ng-options="rota.id as rota.descricao for rota in vm.manterVendedor.rotas"
									data-ng-change="vm.reset()">
									<option value=""></option>
								</select> <label class="mdl-select__label" for="rota">Rota:</label>
							</div>

							<div id="botoesDiv">
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
									data-ng-if="vm.loading == false" data-ng-click="vm.listar()"
									title="Pesquisar">
									<em class="material-icons">search</em>
								</button>
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
									data-ng-if="vm.loading == false" data-ng-click="vm.novo()"
									title="Incluir">
									<em class="material-icons">add</em>
								</button>
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
									data-ng-if="vm.manterVendedor.lista.length > 0 && vm.loading == false"
									data-ng-click="vm.exportar()" title="Exportar">
									<em class="material-icons">backup</em>
								</button>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty right text-left"
									data-ng-if="vm.manterVendedor.lista.length > 0">
									<select id="quantidadePorPagina" class="mdl-select__input"
										data-ng-model="vm.manterVendedor.filtro.paginate.quantidadePorPagina"
										data-ng-change="vm.quantidadePorPagina()"
										data-ng-options="option as 'Resultados por página ' + option for option in vm.paginas">
									</select>
								</div>
							</div>
							
							<div id="loading" class="mdl-cell mdl-cell--12-col center">
								<div
									class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"
									data-ng-show="vm.loading == true"></div>
							</div>
						</form>
					</div>

					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
						<thead>
							<tr>
								<th class="mdl-data-table__cell--non-numeric">Código</th>
								<th class="mdl-data-table__cell--non-numeric width-column-decription-max">Nome</th>
								<th class="mdl-data-table__cell--non-numeric width-column-decription-max">Tipo de Venda</th>
								<th class="mdl-data-table__cell--non-numeric width-column-decription-max">Valor Venda Geral</th>
								<th class="mdl-data-table__cell--non-numeric">Percentual Troca</th>
								<th class="mdl-data-table__cell--non-numeric">Situação</th>
								<th class="mdl-data-table__cell--non-numeric">Editar</th>
								<th class="mdl-data-table__cell--non-numeric">Excluir</th>
							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-repeat="vendedor in vm.manterVendedor.lista track by $index">
								<td class="mdl-data-table__cell--non-numeric width-column-decription-max">{{vendedor.id}}</td>
								<td class="mdl-data-table__cell--non-numeric width-column-decription-max">{{vendedor.nome}}</td>
								<td class="mdl-data-table__cell--non-numeric width-column-decription-max">{{vendedor.tipo}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{vendedor.valorVendaGeral}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{vendedor.percentualTroca}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{vendedor.flExcluido}}</td>
								<td class="mdl-data-table__cell--non-numeric">
									<button id="btEditarVendedor" data-ng-click="vm.toEdit(vendedor)"
										class="mdl-button mdl-js-button mdl-button--icon"
										title="Editar">
										<em class="material-icons">edit</em>
									</button>
								</td>
								<td class="mdl-data-table__cell--non-numeric">
									<button id="btExcluirVendedor"
										data-ng-click="vm.seleciona(vendedor)"
										class="mdl-button mdl-js-button mdl-button--icon"
										title="Excluir">
										<em class="material-icons">delete</em>
									</button>
								</td>
							</tr>
							<tr
								data-ng-if="!vm.manterVendedor.lista || vm.manterVendedor.lista.length == 0">
								<td class="mdl-data-table__cell--non-numeric" colspan="11">Nenhum
									registro econtrado!</td>
							</tr>
						</tbody>
					</table>

					<div class="mdl-cell mdl-cell--12-col text-center"
						data-ng-if="vm.manterVendedor.lista.length > 0">
						<ul class="pagination2 border">
							<li
								data-ng-show="vm.manterVendedor.filtro.paginate.paginaAtual > 0"><a
								href="javascript:void(0)" data-ng-click="vm.toPage(0)"
								title="Primeira página">«</a></li>
							<li
								data-ng-show="vm.manterVendedor.filtro.paginate.paginaAtual > 0"><a
								href="javascript:void(0)"
								data-ng-click="vm.toPage(vm.manterVendedor.filtro.paginate.paginaAtual - 1)"
								title="Página anterior"><span>&#60;</span></a></li>
							<li><a class="active" href="javascript:void(0)"><input
									data-ng-model="vm.page" data-ng-change="vm.selectPage()"
									data-ng-required="true"
									class="mdl-textfield__input width-paginate" type="number"
									id="paginaAtual" title="Digite o número da página" /></a></li>
							<li><a href="javascript:void(0)">de
									{{vm.manterVendedor.filtro.paginate.numTotalPaginas}}</a></li>
							<li
								data-ng-show="vm.manterVendedor.filtro.paginate.paginaAtual < (vm.manterVendedor.filtro.paginate.numTotalPaginas-1)"><a
								href="javascript:void(0)"
								data-ng-click="vm.toPage(vm.manterVendedor.filtro.paginate.paginaAtual + 1)"
								title="Próxima página"><span>&#62;</span></a></li>
							<li
								data-ng-show="vm.manterVendedor.filtro.paginate.paginaAtual < (vm.manterVendedor.filtro.paginate.numTotalPaginas-1)"><a
								href="javascript:void(0)"
								data-ng-click="vm.toPage(vm.manterVendedor.filtro.paginate.numTotalPaginas-1)"
								title="Página final">»</a></li>
						</ul>
					</div>
					<div id="loading" class="mdl-cell mdl-cell--12-col center">
						<div
							class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center"
							data-ng-show="vm.loading == true"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>

<dialog id="deleteDialog" class="mdl-dialog width-400px">
<h4 class="mdl-dialog__title">Confirmação</h4>
<div class="mdl-dialog__content">
	<p>Deseja confirmar a exclusão do vendedor
		{{vm.vendedorSelecionado.nome}}?</p>
</div>
<div class="mdl-dialog__actions">
	<button type="button" class="mdl-button" data-ng-click="vm.excluir()">Sim</button>
	<button type="button" class="mdl-button close"
		data-ng-click="vm.closeDialog()">Não</button>
</div>
</dialog>