 <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Menu</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      Bem Vindo(a) {{::hom.usuario.login}}
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
         <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
		<li class="mdl-menu__item" data-ng-click="hom.sair()">Sair</li>
      </ul>
    </div>