<header
        class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="mdl-layout__header-row mdl-shadow--6dp"
         style="height: 70px;">
        <a href="" title="Alimentos Bella Itália"> <img
                src="images/LogoSite.png" alt="Alimentos Bella Itália"
                title="Alimentos Bella Itália">
        </a>
        <div>
            <h1 class="header-title">
                <span class="fa fa-sign-in"></span>
                SIGED - Sistema Gerenciador de Empresas de Distribuição
            </h1>
        </div>
    </div>
</header>

<main class="mdl-layout__content">

    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <div class="mdl-grid"
         style="max-width: 100%; height: 400px; padding-top: 30px;">

        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
            <form data-ng-show="!aut.spinner" name="loginForm"
                  data-ng-submit="aut.spinner = true; aut.autenticarUsuario()"
                  style="height: 400px; padding-top: 100px;">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" id="usuario"
                           data-ng-model="aut.usuario.login" autofocus="autofocus"
                           maxlength="45" required="required"> <label
                        class="mdl-textfield__label" for="usuario">Login</label>
                </div>
                <div class="mdl-layout-spacer"></div>

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" id="senha"
                           data-ng-model="aut.usuario.senha" required="required"
                           type="password"> <label class="mdl-textfield__label"
                                                   for="senha">Senha</label>
                </div>

                <div class="mdl-layout-spacer"></div>
                <button data-ng-disabled="loginForm.$invalid" type="submit"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Login
                </button>

                <div class="mdl-card__actions">
                    <div class="cta">
                        <a href="javascript:void(0)" data-ng-click="aut.openDialog()">Equeceu
                            sua senha? <br> Gere uma nova senha.
                        </a>
                    </div>
                </div>

            </form>
            <div data-ng-show="aut.spinner"
                 class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
    </div>

</main>
<div data-ng-include="'view/template/footer.html'"></div>

<dialog id="esqueceuSenhaDialog" class="mdl-dialog width-400px">
    <h4 class="mdl-dialog__title" style="text-align: center;">Gerar
        nova senha</h4>
    <form name="esqueceuSenhaForm">
        <div class="mdl-dialog__content">
            <div id="loginDiv">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" id="login"
                           data-ng-model="aut.usuario.login" autofocus="autofocus"
                           data-ng-required="true" type="text"> <label
                        class="mdl-textfield__label" for="login">Login</label>
                </div>
            </div>
            <div id="emailDiv">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" id="email"
                           data-ng-model="aut.usuario.email" autofocus="autofocus"
                           data-ng-required="true" type="email"> <label
                        class="mdl-textfield__label" for="usuario">E-mail</label>
                </div>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button"
                    data-ng-click="aut.enviarEmail()"
                    data-ng-disabled="esqueceuSenhaForm.$invalid || aut.loading == true">Enviar
            </button>
            <button type="button" class="mdl-button close"
                    data-ng-click="aut.closeDialog()">Cancelar
            </button>
        </div>
        <div
                class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center"
                data-ng-show="aut.loading == true"></div>
    </form>
</dialog>
<dialog id="primeiroAcessoDialog" class="mdl-dialog width-400px">
    <h4 class="mdl-dialog__title" style="text-align: center;">Informe
        Nova Senha</h4>
    <form name="novaSenhaForm">
        <div class="mdl-dialog__content">
            <div id="SenhanovaDiv">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" id="senhanova"
                           autofocus="autofocus" data-ng-model="aut.usuario.senha"
                           data-ng-required="true" type="password"> <label
                        class="mdl-textfield__label" for="senha">Nova Senha</label>
                </div>
            </div>
            <div id="ConfirmasenhanovaDiv">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" id="confirmasenhanova"
                           autofocus="autofocus" data-ng-model="vm.confirmasenha"
                           data-ng-required="true" type="password"> <label
                        class="mdl-textfield__label" for="senha">Confirmar Nova
                    Senha</label>
                </div>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button"
                    data-ng-click="aut.salvarNovaSenha()"
                    data-ng-disabled="novaSenhaForm.$invalid || aut.usuario.senha != vm.confirmasenha">Confirmar
            </button>
            <button type="button" class="mdl-button close"
                    data-ng-click="aut.closeDialogPrimeiroAcesso()">Cancelar
            </button>
        </div>
        <div
                class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center"
                data-ng-show="aut.loading == true"></div>
    </form>
</dialog>
