<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="mdl-cell mdl-cell--12-col">
					<h4 id="introduction">Cadastro de Usuário</h4>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
					<div class="mdl-card__supporting-text">
						* Campos obrigatórios!
						<form name="form">

							<div id="nomeDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input data-ng-model="vm.manterUsuario.nome"
										data-ng-required="true" value="{{vm.manterUsuario.nome}}"
										class="mdl-textfield__input" type="text" id="nome"> <label
										class="mdl-textfield__label" for="nome">Nome*:</label>
								</div>
							</div>

							<div id="loginDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input data-ng-model="vm.manterUsuario.login"
										data-ng-required="true" value="{{vm.manterUsuario.login}}"
										class="mdl-textfield__input" type="text" id="login"> <label
										class="mdl-textfield__label" for="login">Login*:</label>
								</div>
							</div>

							<div id="senhaDiv" data-ng-if="!vm.manterUsuario.id > 0">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty is-upgraded">
									<input data-ng-model="vm.manterUsuario.senha"
										data-ng-required="true" value="{{vm.manterUsuario.senha}}"
										class="mdl-textfield__input" type="password" id="senha">
									<label class="mdl-textfield__label" for="senha">Senha*:</label>
								</div>
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty is-upgraded">
									<input data-ng-model="vm.confirmasenha" data-ng-required="true"
										class="mdl-textfield__input" type="password"
										id="confirmasenha"> <label
										class="mdl-textfield__label" for="confirmasenha">Confirma
										Senha*:</label>
								</div>
								<span> {{ (vm.manterUsuario.senha && vm.confirmasenha) ?
									(vm.manterUsuario.senha == vm.confirmasenha) ? 'OK' : 'Senhas
									não conferem' : '' }}</span>
							</div>

							<div id="emailDiv">
								<div
									class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input id="email" data-ng-model="vm.manterUsuario.email"
										class="mdl-textfield__input" type="email"
										data-ng-required="true" value="{{vm.manterUsuario.email}}">
									<label class="mdl-textfield__label" for="email">E-mail*:</label>
								</div>
							</div>

							<div id="perfilDiv">
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty">
									<select id="perfil" class="mdl-select__input"
										data-ng-model="vm.manterUsuario.perfil.id"
										data-ng-required="true"
										data-ng-options="perfil.id as perfil.nome for perfil in vm.perfis">
									</select><label class="mdl-select__label" for="perfil">Perfil*:</label>
								</div>
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty"
									data-ng-if="vm.manterUsuario.perfil.id == 3">
									<select id="vendedor" class="mdl-select__input"
										data-ng-model="vm.manterUsuario.vendedor.id"
										data-ng-required="true"
										data-ng-options="vendedor.id as vendedor.nome for vendedor in vm.vendedores">
									</select><label class="mdl-select__label" for="vendedor">Vendedor*:</label>
								</div>
							</div>

							<div id="situacaoDiv">
								<div
									class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty">
									<select id="situacao" class="mdl-select__input"
										data-ng-model="vm.manterUsuario.situacao"
										data-ng-options="situacao.id as situacao.descricao for situacao in vm.situacoes">
									</select> <label class="mdl-select__label" for="situacao">Situação:</label>
								</div>
							</div>

							<div id="botoes">
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-disabled="form.$invalid || (!vm.manterUsuario.id > 0 && vm.manterUsuario.senha != vm.confirmasenha) "
									data-ng-click="vm.salvar()" title="Salvar">Salvar</button>
								<button
									class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
									data-ng-click="vm.voltar()" title="Voltar">Voltar</button>
							</div>

						</form>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>