<div id="message-screen" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
	<div class="page-content">
		<div class="mdl-grid portfolio-copy">
			<div
				class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
				<div class="docs-text-styling docs-readme">
					<div class="mdl-cell mdl-cell--12-col">
						<h4 id="introduction">Lista de Usuários</h4>
					</div>
					<div class="mdl-cell mdl-cell--12-col">
						<form name="form">

							<div
								class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input data-ng-model="vm.manterUsuario.filtro.nome"
									value="{{vm.manterUsuario.filtro.nome}}"
									class="mdl-textfield__input" type="text" id="nome"> <label
									class="mdl-textfield__label" for="nome">Nome:</label>
							</div>

							<div
								class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty">
								<select id="perfil" class="mdl-select__input"
									data-ng-model="vm.manterUsuario.filtro.perfil.id"
									data-ng-options="perfil.id as perfil.nome for perfil in vm.perfis">
									<option value=""></option>
								</select> <label class="mdl-select__label" for="perfil">Perfil:</label>
							</div>

							<div
								class="mdl-select mdl-js-select mdl-select--floating-label is-upgraded is-dirty">
								<select id="situacao" class="mdl-select__input"
									data-ng-model="vm.manterUsuario.filtro.situacao">
									<option value=""></option>
									<option value="1">Ativo</option>
									<option value="0">Desativado</option>
								</select> <label class="mdl-select__label" for="situacao">Situação:</label>
							</div>

							<div id="botoesDiv">
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
									data-ng-click="vm.listar()" title="Pesquisar">
									<em class="material-icons">search</em>
								</button>
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
									data-ng-click="vm.novo()" title="Incluir">
									<em class="material-icons">add</em>
								</button>
							</div>

						</form>
					</div>

					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
						<thead>
							<tr>
								<th class="mdl-data-table__cell--non-numeric">Login</th>
								<th class="mdl-data-table__cell--non-numeric">Nome</th>
								<th class="mdl-data-table__cell--non-numeric">Perfil</th>
								<th class="mdl-data-table__cell--non-numeric">Situação</th>
								<th class="mdl-data-table__cell--non-numeric">Editar</th>
								<th class="mdl-data-table__cell--non-numeric">Excluir</th>
							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-repeat="user in vm.manterUsuario.lista track by $index">
								<td class="mdl-data-table__cell--non-numeric">{{user.login}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{user.nome}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{user.perfil.nome}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{!user.situacao
									|| user.situacao === 0 ? 'Desativado' : 'Ativo'}}</td>
								<td class="mdl-data-table__cell--non-numeric">
									<button id="btEditarUsuario" data-ng-click="vm.toEdit(user)"
										class="mdl-button mdl-js-button mdl-button--icon"
										title="Editar">
										<em class="material-icons">edit</em>
									</button>
								</td>
								<td class="mdl-data-table__cell--non-numeric">
									<button id="btExcluirUsuario"
										data-ng-click="vm.seleciona(user)"
										class="mdl-button mdl-js-button mdl-button--icon"
										title="Excluir">
										<em class="material-icons">delete</em>
									</button>
								</td>
							</tr>
							<tr data-ng-if="vm.manterUsuario.lista.length == 0">
								<td class="mdl-data-table__cell--non-numeric" colspan="6">Nenhum
									registro econtrado!</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
	<div data-ng-include="'view/template/footer.html'"></div>
</div>

<dialog id="deleteDialog" class="mdl-dialog width-400px">
<h4 class="mdl-dialog__title">Confirmação</h4>
<div class="mdl-dialog__content">
	<p>Deseja confirmar a exclusão do usuário
		{{vm.usuarioSelecionado.nome}}?</p>
</div>
<div class="mdl-dialog__actions">
	<button type="button" class="mdl-button" data-ng-click="vm.excluir()">Sim</button>
	<button type="button" class="mdl-button close"
		data-ng-click="vm.closeDialog()">Não</button>
</div>
</dialog>