<div class="mdl-cell--10-col mdl-cell--1-offset">
    <div class="mdl-block">
        <table st-table="rowsTable" st-safe-src="vm.order.ultimasVendas"
               class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Data</th>
                <th class="text-center">Entrega</th>
                <th class="text-center">Desconto</th>
                <th class="text-center">Valor</th>
                <th class="text-center">
                    <label class="mdl-checkbox">
                        Ações
                        <input ng-model="vm.checkedAllOrdersUltimasVendas" type="checkbox"
                               ng-click="vm.addProductsLastSells(null, true)"/>
                    </label>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in rowsTable">
                <td class="text-center">{{order.idPedidc }}</td>
                <td class="text-center">{{ order.dtPedid | date: 'dd/MM/yyyy'}}</td>
                <td class="text-center">{{ order.dtEntre | date: 'dd/MM/yyyy' }}</td>
                <td class="text-center"> {{ order.vlDesco | currency:'R$' }}</td>
                <td class="text-center">{{ order.vlTotal | currency:'R$' }}</td>
                <td class="text-center">
                    <input class="mdl-checkbox" type="checkbox" ng-click="vm.addProductsLastSells(order)"
                           ng-model="order.checked"
                           ng-checked="vm.checkedAllOrdersUltimasVendas || order.checked"/>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr ng-if="!rowsTable.length">
                <td class="mdl-data-table__cell--non-numeric text-center" colspan="6">
                    Nenhum registro encontrado!
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="mdl-block margin-top-first">
        <table st-table="rowCollection" st-safe-src="vm.lastSellsList"
               class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Nome</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Troca</th>
                <th class="text-center">Qtde Venda</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in rowCollection">
                <td class="text-center">{{order.idCodProduto }}</td>
                <td class="text-left">{{ order.nmProduto }}</td>
                <td class="text-left">{{ order.tpUnidade }}</td>
                <td class="text-center"> {{ order.qtdeTroca }}</td>
                <td class="text-center">{{ order.qtdeProduto }}</td>
                <td class="text-center">{{ order.vlUnitario | currency:'R$' }}</td>
                <td class="text-center">{{ order.vlTotal | currency:'R$' }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr ng-if="!rowCollection.length">
                <td class="mdl-data-table__cell--non-numeric text-center" colspan="7">
                    Nenhum registro encontrado!
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
