<!doctype html>
<html data-ng-app="appBella" data-ng-csp data-ng-strict-di lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIGED - Sistema Gerenciador de Empresas de Distribuição -
        Alimentos Bella Italia</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/logo.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">

    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/lib/material-fonts.css">
    <link rel="stylesheet" href="css/lib/material-icons.css">
    <link rel="stylesheet" href="css/lib/material.css">
    <link rel="stylesheet" href="css/lib/layout.css">
    <link rel="stylesheet" href="css/lib/mdl-select.css">
    <link rel="stylesheet" href="css/lib/jquery-ui.css">
    <link rel="stylesheet" href="css/lib/angular-csp.css">
    <link rel="stylesheet" href="css/lib/dialog-polyfill.css">
    <link rel="stylesheet" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="css/lib/mdl-selectfield.min.css">
    <link rel="stylesheet" href="css/lib/angular-material.min.css">
    <link rel='stylesheet prefetch'
          href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pedidos.css">
    <link rel="stylesheet" href="css/custom.css">
    <!--<link rel="stylesheet" href="css/datatable.css">-->
    <link rel="stylesheet" href="css/pagination.css">
    <link rel="stylesheet" href="css/mapa-carga-cobranca.css">
</head>
<body>

<div class="mdl-layout mdl-js-layout"
     data-ng-controller="HomeController as hom">

    <header id="header" class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Menu</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            Bem Vindo(a) {{::hom.usuario.login}}
            <button
                    class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                    id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul
                    class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right"
                    for="hdrbtn">
                <li class="mdl-menu__item" data-ng-click="hom.sair()">Sair</li>
            </ul>
        </div>
    </header>

    <div id="menu" class="mdl-layout__drawer"
         data-ng-init="hom.criaMenu()">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">

            <ul class="sidebar-menu">
                <li><span class="nav-section-title"></span></li>

                <li class="have-children"
                    data-ng-show="hom.containsPermissionsMain('ADMINISTRADOR')"><a
                        href="#"><span class="fa fa-briefcase"></span>Cadastro</a>
                    <ul>
                        <li     data-ng-show="hom.containsPermissions(hom.funcoes.manterUsuario)"><a
                                data-ng-click="hom.goTo('usuarios')" class="cursor_pointer">Manter Usuários</a></li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.cliente)"><a
                                data-ng-click="hom.goTo('clientes')" class="cursor_pointer">Cliente</a></li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.produto)"><a
                                data-ng-click="hom.goTo('produtos')" class="cursor_pointer">Produto</a></li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.vendedor)"><a
                                data-ng-click="hom.goTo('vendedores')" class="cursor_pointer">Vendedor</a></li>
                        <li
                                data-ng-show="hom.containsPermissions(hom.funcoes.fornecedor)"><a
                                data-ng-click="hom.goTo('forncedores')" class="cursor_pointer">Fornecedor</a></li>

                        <!--<li-->
                                <!--data-ng-show="hom.containsPermissions(hom.funcoes.precoVendaRota)"><a-->
                                <!--data-ng-click="hom.goTo('precovendarota')" class="cursor_pointer">Preço de-->
                            <!--Venda/Rota</a></li>-->

                        <li data-ng-show="hom.containsPermissions(hom.funcoes.rota)"><a
                                data-ng-click="hom.goTo('rotas')" class="cursor_pointer">Rota</a></li>

                        <!--<li data-ng-show="hom.containsPermissions(hom.funcoes.meta)">-->
                            <!--<a data-ng-click="hom.goTo('metas')" class="cursor_pointer">Período de Meta</a></li>-->


                        <li data-ng-show="hom.containsPermissions(hom.funcoes.ajusteEstoque)">
                            <a data-ng-click="hom.goTo('ajusteestoque')" class="cursor_pointer">Ajuste de Estoque</a>
                        </li>

                        <!-- 							<li data-ng-show="hom.containsPermissions(hom.funcoes.cfpo)"><a -->
                        <!-- 								data-ng-click="hom.goTo('cfpo')" class="cursor_pointer" class="cursor_pointer">CFPO</a></li> -->
                        <li  data-ng-show="hom.containsPermissions(hom.funcoes.transportador)">
                            <a data-ng-click="hom.goTo('transportador')" class="cursor_pointer">Transportador</a></li>

                        <!--<li data-ng-show="hom.containsPermissions(hom.funcoes.recadoVendedor)">-->
                            <!--<a data-ng-click="hom.goTo('recadovendedor')" class="cursor_pointer">Recado Vendedor</a>-->
                        </li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.formaPagamento)">
                            <a data-ng-click="hom.goTo('formapagamento')" class="cursor_pointer">Forma Pagamento</a>
                        </li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.pedido)">
                            <a data-ng-click="hom.goTo('pedidos')" class="cursor_pointer">Pedido</a>
                        </li>
                        <li>
                            <!--data-ng-show="hom.containsPermissions(hom.funcoes.mapasCarga)">-->
                            <a data-ng-click="hom.goTo('mapasdecarga')" class="cursor_pointer">Mapas de Carga</a>
                        </li>
                    </ul>
                </li>

                <li class="have-children" data-ng-show="hom.containsPermissionsMain('ADMINISTRADOR')">
                    <a href="#"><span class="fa fa-line-chart"></span>Metas</a>
                    <ul>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.meta)">
                            <a data-ng-click="hom.goTo('metas')" class="cursor_pointer">Período de Meta</a></li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.recadoVendedor)">
                            <a data-ng-click="hom.goTo('recadovendedor')" class="cursor_pointer">Recado Vendedor</a></li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.limiteVenda)">
                            <a data-ng-click="hom.goTo('limitesvenda')" class="cursor_pointer">Limites de Venda</a></li>
                        <li><a data-ng-click="hom.goTo('quantidadevenda')" class="cursor_pointer">Quantidade de
                            venda</a></li>
                        <li><a data-ng-click="hom.goTo('precomediovenda')" class="cursor_pointer">Preço médio de
                            venda</a></li>
                        <li><a data-ng-click="hom.goTo('descontoquantidademinima')" class="cursor_pointer">Preço e Qdade Mínima / Vend. </a></li>
                        <li><a data-ng-click="hom.goTo('vendageralvendedor')" class="cursor_pointer">Venda geral -
                            Vendedor</a></li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.precoVendaRota)">
                            <a data-ng-click="hom.goTo('precovendarota')" class="cursor_pointer">Preço de Venda/Rota</a></li>
                    </ul>
                </li>

                <li class="have-children"
                    data-ng-show="hom.containsPermissionsMain('CADASTRO')"><a
                        href="#"><span class="fa fa-cogs"></span>Cadastro</a>
                    <ul>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.cliente)"><a
                                data-ng-click="hom.goTo('clientes')" class="cursor_pointer">Cliente</a></li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.produto)"><a
                                data-ng-click="hom.goTo('produtos')" class="cursor_pointer">Produto</a></li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.vendedor)"><a
                                data-ng-click="hom.goTo('vendedores')" class="cursor_pointer">Vendedor</a></li>
                        <li
                                data-ng-show="hom.containsPermissions(hom.funcoes.fornecedor)"><a
                                data-ng-click="hom.goTo('forncedores')" class="cursor_pointer">Fornecedor</a></li>
                        <li
                                data-ng-show="hom.containsPermissions(hom.funcoes.precoVendaRota)"><a
                                data-ng-click="hom.goTo('precovendarota')" class="cursor_pointer">Preço de
                            Venda/Rota</a></li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.rota)"><a
                                data-ng-click="hom.goTo('rotas')" class="cursor_pointer">Rota</a></li>
                        <li
                                data-ng-show="hom.containsPermissions(hom.funcoes.ajusteEstoque)"><a
                                data-ng-click="hom.goTo('ajusteestoque')" class="cursor_pointer">Ajuste de Estoque</a>
                        </li>
                        <!-- 							<li data-ng-show="hom.containsPermissions(hom.funcoes.cfpo)"><a -->
                        <!-- 								data-ng-click="hom.goTo('cfpo')" class="cursor_pointer" class="cursor_pointer">CFPO</a></li> -->
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.transportador)">
                            <a data-ng-click="hom.goTo('transportador')" class="cursor_pointer">Transportador</a>
                        </li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.recadoVendedor)">
                            <a data-ng-click="hom.goTo('recadovendedor')" class="cursor_pointer">Recado Vendedor</a>
                        </li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.formaPagamento)">
                            <a data-ng-click="hom.goTo('formapagamento')" class="cursor_pointer">Forma Pagamento</a>
                        </li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.pedido)">
                            <a data-ng-click="hom.goTo('pedidos')" class="cursor_pointer">Pedido</a>
                        </li>
                        <li>
                            <!--data-ng-show="hom.containsPermissions(hom.funcoes.mapasCarga)">-->
                            <a data-ng-click="hom.goTo('mapasdecarga')" class="cursor_pointer">Mapas de Carga</a>
                        </li>

                    </ul>
                </li>

                <li class="have-children" data-ng-show="hom.containsPermissionsMain('CADASTRO')">
                    <a href="#"><span class="fa fa-line-chart"></span>Metas</a>
                    <ul>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.limiteVenda)">
                            <a data-ng-click="hom.goTo('limitesvenda')" class="cursor_pointer">Limites de Venda</a></li>
                        <li><a data-ng-click="hom.goTo('quantidadevenda')" class="cursor_pointer">Quantidade de
                            venda</a></li>
                        <li><a data-ng-click="hom.goTo('precomediovenda')" class="cursor_pointer">Preço médio de
                            venda</a></li>
                        <li><a data-ng-click="hom.goTo('descontoquantidademinima')" class="cursor_pointer">Preço e Qdade Mínima / Vend.</a></li>
                        <li><a data-ng-click="hom.goTo('vendageralvendedor')" class="cursor_pointer">Venda geral -
                            Vendedor</a></li>

                    </ul>
                </li>


                <li class="have-children"
                    data-ng-show="hom.containsPermissionsMain('VENDEDOR')"><a
                        href="#"><span class="fa fa-cogs"></span>Vendedor</a>
                    <ul>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.cliente)"><a
                                data-ng-click="hom.goTo('clientes')" class="cursor_pointer">Cliente</a></li>
                        <li data-ng-show="hom.containsPermissions(hom.funcoes.vendedor)"><a
                                data-ng-click="hom.goTo('vendedores')" class="cursor_pointer">Vendedor</a></li>
                    </ul>
                </li>
                <li class="have-children"><a
                        href="#"><span class="fa fa-file-archive-o"></span>Relatórios</a>
                    <ul>
                        <li ng-show="hom.containsPermissionsMain('ADMINISTRADOR') ||  hom.containsPermissionsMain('VENDEDOR')">
                            <a data-ng-click="hom.goTo('mapadecargascobranca')" class="cursor_pointer">
                                Mapas de Carga e Cobrança
                            </a>
                        </li>
                        <li ng-show="hom.containsPermissionsMain('ADMINISTRADOR') || hom.containsPermissionsMain('CADASTRO')">
                            <a data-ng-click="hom.goTo('relatorioestoqueproduto')" class="cursor_pointer">
                                Historico Estoque
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>

        <!-- sub menu only visible when clicked on the link above -->
        <ul
                class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
                data-mdl-for="demo-menu-top-left">
            <li class="mdl-menu__item" data-ng-show="hom.containsPermissions(hom.funcoes.meta)"><a
                    data-ng-click="hom.goTo('quantidadevenda')" class="cursor_pointer">Quantidade de venda</a></li>
            <li class="mdl-menu__item" data-ng-show="hom.containsPermissions(hom.funcoes.meta)"><a
                    data-ng-click="hom.goTo('precomediovenda')" class="cursor_pointer">Preço médio de venda</a></li>
            <li class="mdl-menu__item" data-ng-show="hom.containsPermissions(hom.funcoes.meta)"><a
                    data-ng-click="hom.goTo('descontoquantidademinima')" class="cursor_pointer">Preço e Qdade Mínima / Vend.</a></li>
            <li class="mdl-menu__item" data-ng-show="hom.containsPermissions(hom.funcoes.meta)"><a
                    data-ng-click="hom.goTo('vendageralvendedor')" class="cursor_pointer">Venda geral - Vendedor</a>
            </li>
        </ul>

    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div data-ng-view
                 class="mdl-layout mdl-js-layout mdl-layout--fixed-header"></div>
        </div>
    </main>
</div>

<!-- jQuery -->
<script src='js/lib/jquery.min.js'></script>
<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery-ui.js"></script>
<script src="js/lib/jquery.mask.js"></script>
<script src="js/lib/jquery.maskMoney.min.js"></script>

<!-- AngularJS -->
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-locale_pt-br.js"></script>
<script src="js/lib/angular-resource.min.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/angular-ui-router.min.js"></script>
<script src="js/lib/angular-sanitize.min.js"></script>
<script src="js/lib/angular-touch.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/angular-messages.min.js"></script>
<script src="js/lib/angular-locale_pt-br.js"></script>
<script src="js/lib/angular-bootstrap-switch.js"></script>
<script src="js/lib/angular-material.min.js"></script>
<script src="js/lib/angular-aria.js"></script>
<script src="js/lib/angular-smart-table.js"></script>
<script src="js/lib/angular-input-masks.js"></script>

<!-- Data -->
<script src="js/lib/date.js"></script>
<script src="js/lib/moment.min.js"></script>
<script src="js/lib/daterangepicker.min.js"></script>

<!-- System -->
<script src="js/lib/dialog-polyfill.js"></script>
<script src="js/lib/material.min.js"></script>
<script src="js/lib/mdl-select.js"></script>
<script src="js/app.js"></script>
<script src="js/modules/sistemaModule.js"></script>
<script src="js/modules/utilModule.js"></script>
<script src="js/bellaModule.js"></script>
<script src="js/sistema/config.js"></script>
<script src="js/sistema/run.js"></script>
<script src="js/utils/directives.js"></script>
<script src="js/utils/constant.js"></script>
<script src="js/utils/filters.js"></script>
<script src="js/utils/controllerService.js"></script>
<script src="js/utils/controllerFactory.js"></script>
<script src="js/lib/base64.min.js"></script>
<script src="js/lib/mdl-selectfield.min.js"></script>

<!-- Controllers -->
<script src="js/controller/sistema/autenticaController.js"></script>
<script src="js/controller/home/homeController.js"></script>
<script src="js/controller/usuario/usuarios.controller.js"></script>
<script src="js/controller/usuario/usuario.controller.js"></script>
<script src="js/controller/cliente/clientes.controller.js"></script>
<script src="js/controller/cliente/cliente.controller.js"></script>
<script src="js/controller/produto/produtos.controller.js"></script>
<script src="js/controller/produto/produto.controller.js"></script>
<script src="js/controller/vendedor/vendedores.controller.js"></script>
<script src="js/controller/vendedor/vendedor.controller.js"></script>
<script src="js/controller/precovenda/preco.venda.rota.controller.js"></script>
<script src="js/controller/meta/periodo.meta.controller.js"></script>
<script src="js/controller/vendas/limite.vendas.controller.js"></script>
<script src="js/controller/recadovendedor/recados.vendedores.controller.js"></script>
<script src="js/controller/recadovendedor/recado.vendedor.controller.js"></script>
<script src="js/controller/meta/quantidade.venda.controller.js"></script>
<script src="js/controller/meta/preco.medio.venda.controller.js"></script>
<script src="js/controller/meta/desc.qtde.minima.controller.js"></script>
<script src="js/controller/meta/venda.geral.vendedor.controller.js"></script>
<script src="js/controller/ajusteestoque/lista.ajuste.estoque.controller.js"></script>
<script src="js/controller/ajusteestoque/manter.ajuste.estoque.controller.js"></script>
<script src="js/controller/transportador/transportadores.controller.js"></script>
<script src="js/controller/transportador/transportador.controller.js"></script>
<script src="js/controller/pedido/pedido.controller.js"></script>
<script src="js/controller/pedido/pedidos.controller.js"></script>
<script src="js/controller/relatorios/mapa-de-carga-cobranca.controller.js"></script>
<script src="js/controller/relatorios/relatorio-estoque-produto.controller.js"></script>
<script src="js/controller/mapas-carga/mapas-carga.controller.js"></script>
<script src="js/controller/mapas-carga/mapa-carga.controller.js"></script>

<!-- Services -->
<script src="js/services/sessionService.js"></script>
<script src="js/services/permissaoService.js"></script>
<script src="js/services/autorizacaoService.js"></script>
<script src="js/services/usuarioService.js"></script>
<script src="js/services/clienteService.js"></script>
<script src="js/services/downloadService.js"></script>
<script src="js/services/produtoService.js"></script>
<script src="js/services/vendedorService.js"></script>
<script src="js/services/precoVendaRotaService.js"></script>
<script src="js/services/periodoMetaService.js"></script>
<script src="js/services/limiteVendasService.js"></script>
<script src="js/services/recadoVendedorService.js"></script>
<script src="js/services/quantidadeVendaService.js"></script>
<script src="js/services/precoMedioVendaService.js"></script>
<script src="js/services/descQtdeMinimaService.js"></script>
<script src="js/services/ajusteEstoqueService.js"></script>
<script src="js/services/transportadorService.js"></script>
<script src="js/services/pedidoService.js"></script>
<script src="js/services/mapa-carga.service.js"></script>

<!-- Directives -->
<script src="js/directive/page-select.directive.js"></script>

</body>
</html>
